In [1]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(seed=42)
df = pd.DataFrame(data=np.random.normal(loc=70, scale=10, size=(7,3)),
                  columns=('San Francisco', 'San Diego', 'Los Angeles'),
                  index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                 )
df = df.round()
df

           San Francisco  San Diego  Los Angeles
Monday              75.0       69.0         76.0
Tuesday             85.0       68.0         68.0
Wednesday           86.0       78.0         65.0
Thursday            75.0       65.0         65.0
Friday              72.0       51.0         53.0
Saturday            64.0       60.0         73.0
Sunday              61.0       56.0         85.0

In [4]:
df.diff()

           San Francisco  San Diego  Los Angeles
Monday               NaN        NaN          NaN
Tuesday             10.0       -1.0         -8.0
Wednesday            1.0       10.0         -3.0
Thursday           -11.0      -13.0          0.0
Friday              -3.0      -14.0        -12.0
Saturday            -8.0        9.0         20.0
Sunday              -3.0       -4.0         12.0

In [7]:
df.diff(periods=3)

           San Francisco  San Diego  Los Angeles
Monday               NaN        NaN          NaN
Tuesday              NaN        NaN          NaN
Wednesday            NaN        NaN          NaN
Thursday             0.0       -4.0        -11.0
Friday             -13.0      -17.0        -15.0
Saturday           -22.0      -18.0          8.0
Sunday             -14.0       -9.0         20.0

In [9]:
df.diff(periods=1, axis=1)

           San Francisco  San Diego  Los Angeles
Monday               NaN       -6.0          7.0
Tuesday              NaN      -17.0          0.0
Wednesday            NaN       -8.0        -13.0
Thursday             NaN      -10.0          0.0
Friday               NaN      -21.0          2.0
Saturday             NaN       -4.0         13.0
Sunday               NaN       -5.0         29.0

In [11]:
asfreq_df = pd.DataFrame({"Col1": [10, 20, 15, 30, 45],
                   "Col2": [13, 23, 18, 33, 48],
                   "Col3": [17, 27, 22, 37, 52]},
                  index=pd.date_range("2020-01-01", "2020-01-05"))
asfreq_df

            Col1  Col2  Col3
2020-01-01    10    13    17
2020-01-02    20    23    27
2020-01-03    15    18    22
2020-01-04    30    33    37
2020-01-05    45    48    52

In [20]:
asfreq_df.asfreq('10T')

                     Col1  Col2  Col3
2020-01-01 00:00:00  10.0  13.0  17.0
2020-01-01 00:10:00   NaN   NaN   NaN
2020-01-01 00:20:00   NaN   NaN   NaN
2020-01-01 00:30:00   NaN   NaN   NaN
2020-01-01 00:40:00   NaN   NaN   NaN
...                   ...   ...   ...
2020-01-04 23:20:00   NaN   NaN   NaN
2020-01-04 23:30:00   NaN   NaN   NaN
2020-01-04 23:40:00   NaN   NaN   NaN
2020-01-04 23:50:00   NaN   NaN   NaN
2020-01-05 00:00:00  45.0  48.0  52.0

[577 rows x 3 columns]

In [22]:
from pandas import Series, DataFrame

In [26]:
df = pd.read_csv('ETH_1h.csv', parse_dates=['Date'], date_format='%Y-%m-%d %I-%p')
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [27]:
df.shape

(23674, 7)

In [28]:
df.loc[::7, 'High'] = np.nan
df.loc[::6, 'Low'] = np.nan

In [29]:
df.head(50)

                  Date  Symbol    Open    High     Low   Close       Volume
0  2020-03-13 20:00:00  ETHUSD  129.94     NaN     NaN  128.71   1940673.93
1  2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94   7579741.09
2  2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51   4898735.81
3  2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47   2753450.92
4  2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08   4461424.71
5  2020-03-13 15:00:00  ETHUSD  128.39  128.90  116.06  124.85   7378976.00
6  2020-03-13 14:00:00  ETHUSD  134.03  137.90     NaN  128.39   3733916.89
7  2020-03-13 13:00:00  ETHUSD  131.35     NaN  128.99  134.03   9582732.93
8  2020-03-13 12:00:00  ETHUSD  128.93  134.60  126.95  131.35   3906590.52
9  2020-03-13 11:00:00  ETHUSD  132.60  133.17  126.01  128.93   3311080.29
10 2020-03-13 10:00:00  ETHUSD  133.80  134.99  128.90  132.60   3483436.48
11 2020-03-13 09:00:00  ETHUSD  127.12  136.53  126.62  133.80   2767584.44
12 2020-03-13 08:00:00  ETHUSD  127.57  133.10     NaN  127.12   6808571.23
13 2020-03-13 07:00:00  ETHUSD  127.28  129.00  120.83  127.57   5255468.75
14 2020-03-13 06:00:00  ETHUSD  116.87     NaN  114.45  127.28   5701691.64
15 2020-03-13 05:00:00  ETHUSD  111.87  124.00  110.75  116.87   6507796.34
16 2020-03-13 04:00:00  ETHUSD  130.91  130.91  106.43  111.87   7802511.68
17 2020-03-13 03:00:00  ETHUSD  117.02  148.00  115.15  130.91  19431820.56
18 2020-03-13 02:00:00  ETHUSD   98.88  127.74     NaN  117.02  18546413.74
19 2020-03-13 01:00:00  ETHUSD  107.09  110.99   97.00   98.88   8079507.05
20 2020-03-13 00:00:00  ETHUSD  110.30  117.50  102.92  107.09  10329663.69
21 2020-03-12 23:00:00  ETHUSD  126.78     NaN  101.22  110.30  19338895.12
22 2020-03-12 22:00:00  ETHUSD  130.30  134.25  124.83  126.78   8822759.15
23 2020-03-12 21:00:00  ETHUSD  128.15  132.14  122.83  130.30   6500631.29
24 2020-03-12 20:00:00  ETHUSD  138.00  138.96     NaN  128.15  19731142.71
25 2020-03-12 19:00:00  ETHUSD  137.04  139.69  136.43  138.00   3815314.09
26 2020-03-12 18:00:00  ETHUSD  141.80  143.00  136.52  137.04   2516644.89
27 2020-03-12 17:00:00  ETHUSD  139.25  146.17  138.32  141.80   5055228.41
28 2020-03-12 16:00:00  ETHUSD  141.24     NaN  134.53  139.25   4068304.19
29 2020-03-12 15:00:00  ETHUSD  140.79  141.58  137.50  141.24   3419213.89
30 2020-03-12 14:00:00  ETHUSD  135.39  144.00     NaN  140.79   8788199.04
31 2020-03-12 13:00:00  ETHUSD  137.67  139.80  126.00  135.39   9683564.39
32 2020-03-12 12:00:00  ETHUSD  136.83  144.63  135.00  137.67   9397363.08
33 2020-03-12 11:00:00  ETHUSD  134.67  151.19  126.29  136.83  16556632.81
34 2020-03-12 10:00:00  ETHUSD  167.50  168.30  126.28  134.67  17741252.81
35 2020-03-12 09:00:00  ETHUSD  169.16     NaN  167.08  167.50   2524359.27
36 2020-03-12 08:00:00  ETHUSD  171.38  172.07     NaN  169.16   4708832.94
37 2020-03-12 07:00:00  ETHUSD  173.41  173.79  168.00  171.38   7019309.48
38 2020-03-12 06:00:00  ETHUSD  181.43  181.53  171.14  173.41   8514139.23
39 2020-03-12 05:00:00  ETHUSD  181.11  181.60  179.59  181.43   2282461.75
40 2020-03-12 04:00:00  ETHUSD  182.55  182.57  177.16  181.11   4964683.12
41 2020-03-12 03:00:00  ETHUSD  183.70  185.04  181.32  182.55   3095445.99
42 2020-03-12 02:00:00  ETHUSD  184.43     NaN     NaN  183.70   4844506.45
43 2020-03-12 01:00:00  ETHUSD  193.44  193.71  183.47  184.43   4970667.47
44 2020-03-12 00:00:00  ETHUSD  194.61  195.64  192.02  193.44   1714112.98
45 2020-03-11 23:00:00  ETHUSD  194.41  196.58  192.36  194.61   2605030.54
46 2020-03-11 22:00:00  ETHUSD  189.38  195.14  188.36  194.41   3606516.34
47 2020-03-11 21:00:00  ETHUSD  193.37  193.67  188.89  189.38   1788126.70
48 2020-03-11 20:00:00  ETHUSD  190.09  193.37     NaN  193.37   3739916.02
49 2020-03-11 19:00:00  ETHUSD  189.79     NaN  186.95  190.09   2700157.57

In [31]:
df[['High', 'Low']].mean()

High    327.305205
Low     322.276309
dtype: float64

In [37]:
df[['High', 'Low']].fillna(df[['High', 'Low']].mean())

             High         Low
0      327.305205  322.276309
1      132.020000  117.100000
2      124.850000  115.500000
3      127.420000  121.630000
4      129.510000  120.170000
...           ...         ...
23669  272.740000  265.000000
23670  269.900000  322.276309
23671  274.930000  265.000000
23672  275.010000  271.000000
23673  279.990000  272.100000

[23674 rows x 2 columns]

In [42]:
df.loc[::4, 'High'] = np.nan
df.loc[::3, 'Low'] = np.nan
df.head(50)

                  Date  Symbol    Open    High     Low   Close       Volume
0  2020-03-13 20:00:00  ETHUSD  129.94     NaN     NaN  128.71   1940673.93
1  2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94   7579741.09
2  2020-03-13 18:00:00  ETHUSD  124.47  124.85     NaN  119.51   4898735.81
3  2020-03-13 17:00:00  ETHUSD  124.08     NaN     NaN  124.47   2753450.92
4  2020-03-13 16:00:00  ETHUSD  124.85     NaN     NaN  124.08   4461424.71
5  2020-03-13 15:00:00  ETHUSD  128.39     NaN  116.06  124.85   7378976.00
6  2020-03-13 14:00:00  ETHUSD  134.03     NaN     NaN  128.39   3733916.89
7  2020-03-13 13:00:00  ETHUSD  131.35     NaN  128.99  134.03   9582732.93
8  2020-03-13 12:00:00  ETHUSD  128.93     NaN     NaN  131.35   3906590.52
9  2020-03-13 11:00:00  ETHUSD  132.60     NaN     NaN  128.93   3311080.29
10 2020-03-13 10:00:00  ETHUSD  133.80     NaN     NaN  132.60   3483436.48
11 2020-03-13 09:00:00  ETHUSD  127.12  136.53  126.62  133.80   2767584.44
12 2020-03-13 08:00:00  ETHUSD  127.57     NaN     NaN  127.12   6808571.23
13 2020-03-13 07:00:00  ETHUSD  127.28  129.00  120.83  127.57   5255468.75
14 2020-03-13 06:00:00  ETHUSD  116.87     NaN     NaN  127.28   5701691.64
15 2020-03-13 05:00:00  ETHUSD  111.87     NaN     NaN  116.87   6507796.34
16 2020-03-13 04:00:00  ETHUSD  130.91     NaN     NaN  111.87   7802511.68
17 2020-03-13 03:00:00  ETHUSD  117.02  148.00  115.15  130.91  19431820.56
18 2020-03-13 02:00:00  ETHUSD   98.88     NaN     NaN  117.02  18546413.74
19 2020-03-13 01:00:00  ETHUSD  107.09  110.99   97.00   98.88   8079507.05
20 2020-03-13 00:00:00  ETHUSD  110.30     NaN     NaN  107.09  10329663.69
21 2020-03-12 23:00:00  ETHUSD  126.78     NaN     NaN  110.30  19338895.12
22 2020-03-12 22:00:00  ETHUSD  130.30  134.25     NaN  126.78   8822759.15
23 2020-03-12 21:00:00  ETHUSD  128.15  132.14  122.83  130.30   6500631.29
24 2020-03-12 20:00:00  ETHUSD  138.00     NaN     NaN  128.15  19731142.71
25 2020-03-12 19:00:00  ETHUSD  137.04     NaN  136.43  138.00   3815314.09
26 2020-03-12 18:00:00  ETHUSD  141.80  143.00     NaN  137.04   2516644.89
27 2020-03-12 17:00:00  ETHUSD  139.25     NaN     NaN  141.80   5055228.41
28 2020-03-12 16:00:00  ETHUSD  141.24     NaN     NaN  139.25   4068304.19
29 2020-03-12 15:00:00  ETHUSD  140.79  141.58  137.50  141.24   3419213.89
30 2020-03-12 14:00:00  ETHUSD  135.39     NaN     NaN  140.79   8788199.04
31 2020-03-12 13:00:00  ETHUSD  137.67  139.80  126.00  135.39   9683564.39
32 2020-03-12 12:00:00  ETHUSD  136.83     NaN     NaN  137.67   9397363.08
33 2020-03-12 11:00:00  ETHUSD  134.67     NaN     NaN  136.83  16556632.81
34 2020-03-12 10:00:00  ETHUSD  167.50  168.30     NaN  134.67  17741252.81
35 2020-03-12 09:00:00  ETHUSD  169.16     NaN  167.08  167.50   2524359.27
36 2020-03-12 08:00:00  ETHUSD  171.38     NaN     NaN  169.16   4708832.94
37 2020-03-12 07:00:00  ETHUSD  173.41  173.79  168.00  171.38   7019309.48
38 2020-03-12 06:00:00  ETHUSD  181.43  181.53     NaN  173.41   8514139.23
39 2020-03-12 05:00:00  ETHUSD  181.11     NaN     NaN  181.43   2282461.75
40 2020-03-12 04:00:00  ETHUSD  182.55     NaN     NaN  181.11   4964683.12
41 2020-03-12 03:00:00  ETHUSD  183.70  185.04  181.32  182.55   3095445.99
42 2020-03-12 02:00:00  ETHUSD  184.43     NaN     NaN  183.70   4844506.45
43 2020-03-12 01:00:00  ETHUSD  193.44  193.71  183.47  184.43   4970667.47
44 2020-03-12 00:00:00  ETHUSD  194.61     NaN     NaN  193.44   1714112.98
45 2020-03-11 23:00:00  ETHUSD  194.41     NaN     NaN  194.61   2605030.54
46 2020-03-11 22:00:00  ETHUSD  189.38  195.14     NaN  194.41   3606516.34
47 2020-03-11 21:00:00  ETHUSD  193.37  193.67  188.89  189.38   1788126.70
48 2020-03-11 20:00:00  ETHUSD  190.09     NaN     NaN  193.37   3739916.02
49 2020-03-11 19:00:00  ETHUSD  189.79     NaN  186.95  190.09   2700157.57

In [43]:
df.interpolate()

,Date,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 20:00:00,ETHUSD,129.94,NaN,NaN,128.71,1940673.93
1,2020-03-13 19:00:00,ETHUSD,119.51,132.020000,117.10,129.94,7579741.09
2,2020-03-13 18:00:00,ETHUSD,124.47,124.850000,116.84,119.51,4898735.81
3,2020-03-13 17:00:00,ETHUSD,124.08,126.147778,116.58,124.47,2753450.92
4,2020-03-13 16:00:00,ETHUSD,124.85,127.445556,116.32,124.08,4461424.71
...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.740000,265.00,272.57,1500282.55
23670,2017-07-01 14:00:00,ETHUSD,268.79,273.835000,265.00,265.74,1702536.85
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.930000,265.00,268.79,3010787.99
23672,2017-07-01 12:00:00,ETHUSD,275.01,274.930000,265.00,274.83,824362.87
23673,2017-07-01 11:00:00,ETHUSD,279.98,274.930000,265.00,275.01,679358.87

In [51]:
df.set_index('Date', inplace=True)
df

                     Symbol    Open    High    Low   Close      Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94     NaN    NaN  128.71  1940673.93
2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.1  129.94  7579741.09
2020-03-13 18:00:00  ETHUSD  124.47  124.85    NaN  119.51  4898735.81
2020-03-13 17:00:00  ETHUSD  124.08     NaN    NaN  124.47  2753450.92
2020-03-13 16:00:00  ETHUSD  124.85     NaN    NaN  124.08  4461424.71
...                     ...     ...     ...    ...     ...         ...
2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.0  272.57  1500282.55
2017-07-01 14:00:00  ETHUSD  268.79     NaN    NaN  265.74  1702536.85
2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.0  268.79  3010787.99
2017-07-01 12:00:00  ETHUSD  275.01     NaN    NaN  274.83   824362.87
2017-07-01 11:00:00  ETHUSD  279.98     NaN    NaN  275.01   679358.87

[23674 rows x 6 columns]

In [54]:
df.between_time('16:00', '18:00')

                     Symbol    Open    High  Low   Close      Volume
Date
2020-03-13 18:00:00  ETHUSD  124.47  124.85  NaN  119.51  4898735.81
2020-03-13 17:00:00  ETHUSD  124.08     NaN  NaN  124.47  2753450.92
2020-03-13 16:00:00  ETHUSD  124.85     NaN  NaN  124.08  4461424.71
2020-03-12 18:00:00  ETHUSD  141.80  143.00  NaN  137.04  2516644.89
2020-03-12 17:00:00  ETHUSD  139.25     NaN  NaN  141.80  5055228.41
...                     ...     ...     ...  ...     ...         ...
2017-07-02 17:00:00  ETHUSD  271.92     NaN  NaN  281.00  7081816.11
2017-07-02 16:00:00  ETHUSD  267.39     NaN  NaN  271.92  2682458.25
2017-07-01 18:00:00  ETHUSD  263.51  266.73  NaN  259.50  5396852.35
2017-07-01 17:00:00  ETHUSD  268.00     NaN  NaN  263.51  1894983.33
2017-07-01 16:00:00  ETHUSD  272.57     NaN  NaN  268.00  1287300.75

[2961 rows x 6 columns]

In [56]:
df.at_time('20:00')

                     Symbol    Open  High  Low   Close       Volume
Date
2020-03-13 20:00:00  ETHUSD  129.94   NaN  NaN  128.71   1940673.93
2020-03-12 20:00:00  ETHUSD  138.00   NaN  NaN  128.15  19731142.71
2020-03-11 20:00:00  ETHUSD  190.09   NaN  NaN  193.37   3739916.02
2020-03-10 20:00:00  ETHUSD  202.26   NaN  NaN  203.12   2070524.52
2020-03-09 20:00:00  ETHUSD  197.61   NaN  NaN  198.34   2351877.08
...                     ...     ...   ...  ...     ...          ...
2017-07-05 20:00:00  ETHUSD  270.00   NaN  NaN  265.20   1666163.15
2017-07-04 20:00:00  ETHUSD  269.03   NaN  NaN  269.57    890947.64
2017-07-03 20:00:00  ETHUSD  278.59   NaN  NaN  279.50    765140.32
2017-07-02 20:00:00  ETHUSD  280.50   NaN  NaN  282.30   1436077.16
2017-07-01 20:00:00  ETHUSD  258.49   NaN  NaN  258.17   2366698.50

[987 rows x 6 columns]

In [64]:
df.index = df.index.tz_convert('Asia/Kolkata')

In [65]:
df

                           Symbol    Open    High    Low   Close      Volume
Date
2020-03-14 01:30:00+05:30  ETHUSD  129.94     NaN    NaN  128.71  1940673.93
2020-03-14 00:30:00+05:30  ETHUSD  119.51  132.02  117.1  129.94  7579741.09
2020-03-13 23:30:00+05:30  ETHUSD  124.47  124.85    NaN  119.51  4898735.81
2020-03-13 22:30:00+05:30  ETHUSD  124.08     NaN    NaN  124.47  2753450.92
2020-03-13 21:30:00+05:30  ETHUSD  124.85     NaN    NaN  124.08  4461424.71
...                           ...     ...     ...    ...     ...         ...
2017-07-01 20:30:00+05:30  ETHUSD  265.74  272.74  265.0  272.57  1500282.55
2017-07-01 19:30:00+05:30  ETHUSD  268.79     NaN    NaN  265.74  1702536.85
2017-07-01 18:30:00+05:30  ETHUSD  274.83  274.93  265.0  268.79  3010787.99
2017-07-01 17:30:00+05:30  ETHUSD  275.01     NaN    NaN  274.83   824362.87
2017-07-01 16:30:00+05:30  ETHUSD  279.98     NaN    NaN  275.01   679358.87

[23674 rows x 6 columns]

In [66]:
# where()

In [67]:
df['high_val'] = df['High'].where(df['High'] > 100)

In [68]:
df

,Symbol,Open,High,Low,Close,Volume,high_val
Date,,,,,,,
2020-03-14 01:30:00+05:30,ETHUSD,129.94,NaN,NaN,128.71,1940673.93,NaN
2020-03-14 00:30:00+05:30,ETHUSD,119.51,132.02,117.1,129.94,7579741.09,132.02
2020-03-13 23:30:00+05:30,ETHUSD,124.47,124.85,NaN,119.51,4898735.81,124.85
2020-03-13 22:30:00+05:30,ETHUSD,124.08,NaN,NaN,124.47,2753450.92,NaN
2020-03-13 21:30:00+05:30,ETHUSD,124.85,NaN,NaN,124.08,4461424.71,NaN
...,...,...,...,...,...,...,...
2017-07-01 20:30:00+05:30,ETHUSD,265.74,272.74,265.0,272.57,1500282.55,272.74
2017-07-01 19:30:00+05:30,ETHUSD,268.79,NaN,NaN,265.74,1702536.85,NaN
2017-07-01 18:30:00+05:30,ETHUSD,274.83,274.93,265.0,268.79,3010787.99,274.93
2017-07-01 17:30:00+05:30,ETHUSD,275.01,NaN,NaN,274.83,824362.87,NaN
2017-07-01 16:30:00+05:30,ETHUSD,279.98,NaN,NaN,275.01,679358.87,NaN

In [75]:
df.reset_index('Date', inplace=True)

In [ ]:
# dt accessor

In [77]:
df['month'] = df['Date'].dt.month
df['weekday'] = df['Date'].dt.day_name()

In [78]:
df

,Date,Symbol,Open,High,Low,Close,Volume,high_val,month,weekday
0,2020-03-14 01:30:00+05:30,ETHUSD,129.94,NaN,NaN,128.71,1940673.93,NaN,3,Saturday
1,2020-03-14 00:30:00+05:30,ETHUSD,119.51,132.02,117.1,129.94,7579741.09,132.02,3,Saturday
2,2020-03-13 23:30:00+05:30,ETHUSD,124.47,124.85,NaN,119.51,4898735.81,124.85,3,Friday
3,2020-03-13 22:30:00+05:30,ETHUSD,124.08,NaN,NaN,124.47,2753450.92,NaN,3,Friday
4,2020-03-13 21:30:00+05:30,ETHUSD,124.85,NaN,NaN,124.08,4461424.71,NaN,3,Friday
...,...,...,...,...,...,...,...,...,...,...
23669,2017-07-01 20:30:00+05:30,ETHUSD,265.74,272.74,265.0,272.57,1500282.55,272.74,7,Saturday
23670,2017-07-01 19:30:00+05:30,ETHUSD,268.79,NaN,NaN,265.74,1702536.85,NaN,7,Saturday
23671,2017-07-01 18:30:00+05:30,ETHUSD,274.83,274.93,265.0,268.79,3010787.99,274.93,7,Saturday
23672,2017-07-01 17:30:00+05:30,ETHUSD,275.01,NaN,NaN,274.83,824362.87,NaN,7,Saturday
23673,2017-07-01 16:30:00+05:30,ETHUSD,279.98,NaN,NaN,275.01,679358.87,NaN,7,Saturday

In [79]:
# truncate()

In [85]:
df.truncate(before='2019-01-01', after='2020-05-01')

,Date,Symbol,Open,High,Low,Close,Volume,high_val,month,weekday
20190,2017-11-23 19:30:00+05:30,ETHUSD,396.82,NaN,NaN,409.99,13918098.39,NaN,11,Thursday
20191,2017-11-23 18:30:00+05:30,ETHUSD,393.00,397.00,392.99,396.82,1941648.74,397.00,11,Thursday
20192,2017-11-23 17:30:00+05:30,ETHUSD,399.00,NaN,NaN,393.00,3443063.31,NaN,11,Thursday
20193,2017-11-23 16:30:00+05:30,ETHUSD,396.43,NaN,NaN,399.00,4131317.32,NaN,11,Thursday
20194,2017-11-23 15:30:00+05:30,ETHUSD,391.85,401.69,NaN,396.43,11168860.10,401.69,11,Thursday
20195,2017-11-23 14:30:00+05:30,ETHUSD,387.00,NaN,386.99,391.85,4496501.57,NaN,11,Thursday
20196,2017-11-23 13:30:00+05:30,ETHUSD,381.23,NaN,NaN,387.00,4092524.22,NaN,11,Thursday
20197,2017-11-23 12:30:00+05:30,ETHUSD,382.70,383.40,381.21,381.23,1819864.06,383.40,11,Thursday
20198,2017-11-23 11:30:00+05:30,ETHUSD,382.54,383.40,NaN,382.70,1129346.49,383.40,11,Thursday
20199,2017-11-23 10:30:00+05:30,ETHUSD,379.99,NaN,NaN,382.54,2471924.25,NaN,11,Thursday