In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
df = spark.read.format("csv")\
    .option("inferSchema", "false")\
    .option("header", "true")\
    .option("mode", "PERMISSIVE")\
    .load("/FileStore/tables/employee_write-1.csv")

df.show()

+---+--------+---+------+-------+------+
| id|    name|age|salary|address|gender|
+---+--------+---+------+-------+------+
|  1|  Manish| 26| 75000|  INDIA|     m|
|  2|  Nikita| 23|100000|    USA|     f|
|  3|  Pritam| 22|150000|  INDIA|     m|
|  4|Prantosh| 17|200000|  JAPAN|     m|
|  5|  Vikash| 31|300000|    USA|     m|
|  6|   Rahul| 55|300000|  INDIA|     m|
|  7|    Raju| 67|540000|    USA|     m|
|  8| Praveen| 28| 70000|  JAPAN|     m|
|  9|     Dev| 32|150000|  JAPAN|     m|
| 10|  Sherin| 16| 25000| RUSSIA|     f|
| 11|    Ragu| 12| 35000|  INDIA|     f|
| 12|   Sweta| 43|200000|  INDIA|     f|
| 13| Raushan| 48|650000|    USA|     m|
| 14|  Mukesh| 36| 95000| RUSSIA|     m|
| 15| Prakash| 52|750000|  INDIA|     m|
+---+--------+---+------+-------+------+

In [0]:
df.write.format("csv")\
    .option("header", "true")\
        .option("mode", "overwrite")\
            .option("path", "/FileStore/tables/partition_by_address.csv")\
                .partitionBy("address")\
                .save()

In [0]:
df

Out[6]: DataFrame[id: string, name: string, age: string, salary: string, address: string, gender: string]

In [0]:
dbutils.fs.ls("/FileStore/tables/partition_by_address.csv")

Out[7]: [FileInfo(path='dbfs:/FileStore/tables/partition_by_address.csv/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1745815977000),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address.csv/address=INDIA/', name='address=INDIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address.csv/address=JAPAN/', name='address=JAPAN/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address.csv/address=RUSSIA/', name='address=RUSSIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address.csv/address=USA/', name='address=USA/', size=0, modificationTime=0)]

In [0]:
df.write.format("csv")\
    .option("header", "true")\
        .option("mode", "overwrite")\
            .option("path", "/FileStore/tables/partition_by_address_gender.csv")\
                .partitionBy("address", "gender")\
                .save()

In [0]:
dbutils.fs.ls("/FileStore/tables/partition_by_address_gender.csv")

Out[9]: [FileInfo(path='dbfs:/FileStore/tables/partition_by_address_gender.csv/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1745816430000),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address_gender.csv/address=INDIA/', name='address=INDIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address_gender.csv/address=JAPAN/', name='address=JAPAN/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address_gender.csv/address=RUSSIA/', name='address=RUSSIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_address_gender.csv/address=USA/', name='address=USA/', size=0, modificationTime=0)]

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/partition_by_address_gender.csv/address=JAPAN/")

Out[13]: [FileInfo(path='dbfs:/FileStore/tables/partition_by_address_gender.csv/address=JAPAN/gender=m/', name='gender=m/', size=0, modificationTime=0)]

In [0]:
df.write.format("csv")\
    .option("header", "true")\
        .option("mode", "overwrite")\
            .option("path", "/FileStore/tables/partition_by_gender_address.csv")\
                .partitionBy("gender","address")\
                    .save()

In [0]:
dbutils.fs.ls("/FileStore/tables/partition_by_gender_address.csv")

Out[15]: [FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1745816685000),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/', name='gender=f/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=m/', name='gender=m/', size=0, modificationTime=0)]

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/")

Out[16]: [FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=INDIA/', name='address=INDIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/', name='address=RUSSIA/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=USA/', name='address=USA/', size=0, modificationTime=0)]

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/")

Out[17]: [FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1745816685000),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/_committed_6292005306882208804', name='_committed_6292005306882208804', size=111, modificationTime=1745816685000),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/_started_6292005306882208804', name='_started_6292005306882208804', size=0, modificationTime=1745816683000),
 FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/part-00000-tid-6292005306882208804-66796614-0f6a-4390-86b9-b05464c5ee24-6-2.c000.csv', name='part-00000-tid-6292005306882208804-66796614-0f6a-4390-86b9-b05464c5ee24-6-2.c000.csv', size=38, modificationTime=1745816683000)]

In [0]:
dbutils.fs.ls("dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/_committed_6292005306882208804")

Out[18]: [FileInfo(path='dbfs:/FileStore/tables/partition_by_gender_address.csv/gender=f/address=RUSSIA/_committed_6292005306882208804', name='_committed_6292005306882208804', size=111, modificationTime=1745816685000)]

In [0]:
my_data =   [(1,1),    
  (2,1),    
  (3,1),    
  (4,2),    
  (5,1),    
  (6,2),    
  (7,2)]

In [0]:
my_schema = ['id' ,'num']

In [0]:
mf_df = spark.createDataFrame(data=my_data, schema=my_schema)

mf_df.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

In [0]:
employee_df = spark.read.format("csv")\
    .option("header", "true")\
        .option("mode", "PERMISSIVE")\
            .load("/FileStore/tables/employee.csv")

employee_df.show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
employee_df.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.columns

Out[36]: ['id', 'name', 'age', 'salary', 'address', 'nominee']

In [0]:
employee_df.select("name").show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
employee_df.select(col("name")).show()

+--------+
|    name|
+--------+
|  Manish|
|  Nikita|
|  Pritam|
|Prantosh|
|  Vikash|
+--------+

In [0]:
employee_df.select(col("id")+ 5).show()

+--------+
|(id + 5)|
+--------+
|     6.0|
|     7.0|
|     8.0|
|     9.0|
|    10.0|
+--------+

In [0]:
employee_df.select("name", "age", "salary").show()

+--------+---+------+
|    name|age|salary|
+--------+---+------+
|  Manish| 26| 75000|
|  Nikita| 23|100000|
|  Pritam| 22|150000|
|Prantosh| 17|200000|
|  Vikash| 31|300000|
+--------+---+------+

In [0]:
employee_df.select("name", col("age"), employee_df["salary"], employee_df.address).show()

+--------+---+------+------------+
|    name|age|salary|     address|
+--------+---+------+------------+
|  Manish| 26| 75000|       bihar|
|  Nikita| 23|100000|uttarpradesh|
|  Pritam| 22|150000|   Bangalore|
|Prantosh| 17|200000|     Kolkata|
|  Vikash| 31|300000|        null|
+--------+---+------+------------+

In [0]:
employee_df.select("id + 5").show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4341238895431293>:1
----> 1 employee_df.select("id + 5").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3023, in DataFrame.select(self, *cols)
   2978 def select(self, *cols: "ColumnOrName") -> "DataFrame":  # type: ignore[misc]
   2979     """Projects a set of expressions and returns a new :class:`DataFrame`.
   2980
   2981     .. versionadded:: 1.3.0
   (...)
   3021     +-----+---+
   3022     """
-> 3023     jdf = self._jdf.select(self._jcols(*cols))
   3024     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `id + 5` cannot be resolved. Did you mean one of the following? [`id`, `address`, `age`, `name`, `nominee`].;
'Project ['id + 5]
+- Relation [id#953,name#954,age#955,salary#956,address#957,nominee#958] csv

Expression

In [0]:
employee_df.select(expr("id + 5")).show()

+--------+
|(id + 5)|
+--------+
|     6.0|
|     7.0|
|     8.0|
|     9.0|
|    10.0|
+--------+

In [0]:
employee_df.select(expr("name as Employee_name"),expr("concat(id, salary) as Id_Salary") ,expr("concat(name, address)")).show()

+-------------+---------+---------------------+
|Employee_name|Id_Salary|concat(name, address)|
+-------------+---------+---------------------+
|       Manish|   175000|          Manishbihar|
|       Nikita|  2100000|   Nikitauttarpradesh|
|       Pritam|  3150000|      PritamBangalore|
|     Prantosh|  4200000|      PrantoshKolkata|
|       Vikash|  5300000|                 null|
+-------------+---------+---------------------+

In [0]:
employee_df.select("*").show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

SPARK SQL

In [0]:
employee_df.createOrReplaceTempView("employee_tbl")

In [0]:
spark.sql("""
          select * from employee_tbl
          """).show()

+---+--------+---+------+------------+--------+
| id|    name|age|salary|     address| nominee|
+---+--------+---+------+------------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|
|  3|  Pritam| 22|150000|   Bangalore|   India|
|  4|Prantosh| 17|200000|     Kolkata|   India|
|  5|  Vikash| 31|300000|        null|nominee5|
+---+--------+---+------+------------+--------+

In [0]:
employee_df.select(col("id").alias("employee_id"), "name", "age", "salary").show()

+-----------+--------+---+------+
|employee_id|    name|age|salary|
+-----------+--------+---+------+
|          1|  Manish| 26| 75000|
|          2|  Nikita| 23|100000|
|          3|  Pritam| 22|150000|
|          4|Prantosh| 17|200000|
|          5|  Vikash| 31|300000|
+-----------+--------+---+------+

Filter and Where

In [0]:
employee_df.filter(col("salary")> 200000).show()

+---+------+---+------+-------+--------+
| id|  name|age|salary|address| nominee|
+---+------+---+------+-------+--------+
|  5|Vikash| 31|300000|   null|nominee5|
+---+------+---+------+-------+--------+

In [0]:
employee_df.where(col("salary")> 200000).show()

+---+------+---+------+-------+--------+
| id|  name|age|salary|address| nominee|
+---+------+---+------+-------+--------+
|  5|Vikash| 31|300000|   null|nominee5|
+---+------+---+------+-------+--------+

In [0]:
employee_df.filter((col("salary")> 150000) & (col("age")> 18)).show()

+---+------+---+------+-------+--------+
| id|  name|age|salary|address| nominee|
+---+------+---+------+-------+--------+
|  5|Vikash| 31|300000|   null|nominee5|
+---+------+---+------+-------+--------+

Literal (lit)

In [0]:
employee_df.select("*",lit("kumar").alias("last_name")).show()

+---+--------+---+------+------------+--------+---------+
| id|    name|age|salary|     address| nominee|last_name|
+---+--------+---+------+------------+--------+---------+
|  1|  Manish| 26| 75000|       bihar|nominee1|    kumar|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|    kumar|
|  3|  Pritam| 22|150000|   Bangalore|   India|    kumar|
|  4|Prantosh| 17|200000|     Kolkata|   India|    kumar|
|  5|  Vikash| 31|300000|        null|nominee5|    kumar|
+---+--------+---+------+------------+--------+---------+

WithColumn

In [0]:
employee_df.withColumn("surname", lit("singh")).show()

+---+--------+---+------+------------+--------+-------+
| id|    name|age|salary|     address| nominee|surname|
+---+--------+---+------+------------+--------+-------+
|  1|  Manish| 26| 75000|       bihar|nominee1|  singh|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2|  singh|
|  3|  Pritam| 22|150000|   Bangalore|   India|  singh|
|  4|Prantosh| 17|200000|     Kolkata|   India|  singh|
|  5|  Vikash| 31|300000|        null|nominee5|  singh|
+---+--------+---+------+------------+--------+-------+

In [0]:
employee_df.withColumnRenamed("id", "employee_id").show()

+-----------+--------+---+------+------------+--------+
|employee_id|    name|age|salary|     address| nominee|
+-----------+--------+---+------+------------+--------+
|          1|  Manish| 26| 75000|       bihar|nominee1|
|          2|  Nikita| 23|100000|uttarpradesh|nominee2|
|          3|  Pritam| 22|150000|   Bangalore|   India|
|          4|Prantosh| 17|200000|     Kolkata|   India|
|          5|  Vikash| 31|300000|        null|nominee5|
+-----------+--------+---+------+------------+--------+

In [0]:
new_employee_df = employee_df.withColumnRenamed("id", "employee_id")

In [0]:
new_employee_df.show()

+-----------+--------+---+------+------------+--------+
|employee_id|    name|age|salary|     address| nominee|
+-----------+--------+---+------+------------+--------+
|          1|  Manish| 26| 75000|       bihar|nominee1|
|          2|  Nikita| 23|100000|uttarpradesh|nominee2|
|          3|  Pritam| 22|150000|   Bangalore|   India|
|          4|Prantosh| 17|200000|     Kolkata|   India|
|          5|  Vikash| 31|300000|        null|nominee5|
+-----------+--------+---+------+------------+--------+

In [0]:
employee_df.printSchema

Out[63]: <bound method DataFrame.printSchema of DataFrame[id: string, name: string, age: string, salary: string, address: string, nominee: string]>

Casting datatype

In [0]:
employee_df.withColumn("id", expr("id").cast("string")).printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.withColumn("id", expr("id").cast("string"))\
    .withColumn("salary", expr("salary").cast("long"))\
    .printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee: string (nullable = true)

In [0]:
employee_df.drop("name", col("id")).show()

+---+------+------------+--------+
|age|salary|     address| nominee|
+---+------+------------+--------+
| 26| 75000|       bihar|nominee1|
| 23|100000|uttarpradesh|nominee2|
| 22|150000|   Bangalore|   India|
| 17|200000|     Kolkata|   India|
| 31|300000|        null|nominee5|
+---+------+------------+--------+

Spark SQL

In [0]:
spark.sql("""
          select * from employee_tbl where salary > 150000 and age < 18
          """).show()

+---+--------+---+------+-------+-------+
| id|    name|age|salary|address|nominee|
+---+--------+---+------+-------+-------+
|  4|Prantosh| 17|200000|Kolkata|  India|
+---+--------+---+------+-------+-------+

In [0]:
spark.sql("""
          select *, "kumar" as last_name from employee_tbl where salary > 150000 and age < 18
          """).show()

+---+--------+---+------+-------+-------+---------+
| id|    name|age|salary|address|nominee|last_name|
+---+--------+---+------+-------+-------+---------+
|  4|Prantosh| 17|200000|Kolkata|  India|    kumar|
+---+--------+---+------+-------+-------+---------+

In [0]:
spark.sql("""
          select *, "kumar" as last_name, concat(name, last_name) as full_name
          from employee_tbl where salary > 150000 and age < 18
          """).show()

+---+--------+---+------+-------+-------+---------+-------------+
| id|    name|age|salary|address|nominee|last_name|    full_name|
+---+--------+---+------+-------+-------+---------+-------------+
|  4|Prantosh| 17|200000|Kolkata|  India|    kumar|Prantoshkumar|
+---+--------+---+------+-------+-------+---------+-------------+

In [0]:
spark.sql("""
          select *, "kumar" as last_name, concat(name, last_name) as full_name, cast(id as string)
          from employee_tbl where salary > 150000 and age < 18
          """).show()

+---+--------+---+------+-------+-------+---------+-------------+---+
| id|    name|age|salary|address|nominee|last_name|    full_name| id|
+---+--------+---+------+-------+-------+---------+-------------+---+
|  4|Prantosh| 17|200000|Kolkata|  India|    kumar|Prantoshkumar|  4|
+---+--------+---+------+-------+-------+---------+-------------+---+

In [0]:
spark.sql("""
          select *, "kumar" as last_name, concat(name, last_name) as full_name, cast(id as string)
          from employee_tbl where salary > 150000 and age < 18
          """).printSchema

Out[78]: <bound method DataFrame.printSchema of DataFrame[id: string, name: string, age: string, salary: string, address: string, nominee: string, last_name: string, full_name: string, id: string]>

Union and Union All

In [0]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17)]

schema = ['id', 'name', 'salary', 'manager_id']

manager_df = spark.createDataFrame(data=data, schema=schema)

In [0]:
manager_df.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
data1=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]

schema1 = ['id', 'name', 'salary', 'manager_id']

manager_df1 = spark.createDataFrame(data=data1, schema=schema1)

manager_df1.show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:
manager_df.union(manager_df1).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [0]:
manager_df.union(manager_df1).count()

Out[86]: 11

In [0]:
manager_df.unionAll(manager_df1).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [0]:
duplicate_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(18 ,'Sam',55000,   17),
(18 ,'Sam',65000,   17)]

duplicate_schema = ['id', 'name', 'salary', 'manager_id']

duplicate_manager_df = spark.createDataFrame(data=duplicate_data, schema=duplicate_schema)

duplicate_manager_df.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
duplicate_manager_df.union(manager_df1).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [0]:
duplicate_manager_df.union(manager_df1).count()

Out[91]: 13

In [0]:
duplicate_manager_df.unionAll(manager_df1).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 18|   Sam| 65000|        17|
| 19| Sohan| 50000|        18|
| 20|  Sima| 75000|        17|
+---+------+------+----------+

In [0]:
duplicate_manager_df.unionAll(manager_df1).count()

Out[93]: 13

In [0]:
duplicate_manager_df.createOrReplaceTempView("duplicate_manager_tbl")
manager_df1.createOrReplaceTempView("manager_df1_tbl")

In [0]:
spark.sql("""
          select * from duplicate_manager_tbl
          """).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 55000|        17|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
spark.sql("""
          select * from manager_df1_tbl
          """).show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:
spark.sql("""
          select * from duplicate_manager_tbl
          union
          select * from manager_df1_tbl
          """).count()

Out[99]: 12

In [0]:
spark.sql("""
          select * from duplicate_manager_tbl
          union all
          select * from manager_df1_tbl
          """).count()

Out[101]: 13

In [0]:
spark.sql("""
          select * from duplicate_manager_tbl
          union all
          select * from duplicate_manager_tbl
          """).count()

Out[102]: 22

In [0]:
spark.sql("""
          select * from duplicate_manager_tbl
          union
          select * from duplicate_manager_tbl
          """).count()

Out[103]: 10

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_column_schema = ['id', 'salary', 'manager_id', 'name']

wrong_column_df = spark.createDataFrame(data=wrong_column_data, schema=wrong_column_schema)

wrong_column_df.show()

+---+------+----------+-----+
| id|salary|manager_id| name|
+---+------+----------+-----+
| 19| 50000|        18|Sohan|
| 20| 75000|        17| Sima|
+---+------+----------+-----+

In [0]:
manager_df1.union(wrong_column_df).show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
| 19|50000|    18|     Sohan|
| 20|75000|    17|      Sima|
+---+-----+------+----------+

In [0]:
manager_df1.unionByName(wrong_column_df).show()

+---+-----+------+----------+
| id| name|salary|manager_id|
+---+-----+------+----------+
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
| 19|Sohan| 50000|        18|
| 20| Sima| 75000|        17|
+---+-----+------+----------+

In [0]:
wrong_columns=[(19 ,50000, 18,'Sohan',10),
(20 ,75000,  17,'Sima',20)]

wrong_schema = ['id', 'salary', 'manager_id', 'name', 'bonus']

wrong_manager_df = spark.createDataFrame(data=wrong_columns, schema=wrong_schema)

wrong_manager_df.show()

+---+------+----------+-----+-----+
| id|salary|manager_id| name|bonus|
+---+------+----------+-----+-----+
| 19| 50000|        18|Sohan|   10|
| 20| 75000|        17| Sima|   20|
+---+------+----------+-----+-----+

In [0]:
wrong_manager_df.union(manager_df1).show()

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4341238895431347>:1
----> 1 wrong_manager_df.union(manager_df1).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3646, in DataFrame.union(self, other)
   3598 def union(self, other: "DataFrame") -> "DataFrame":
   3599     """Return a new :class:`DataFrame` containing union of rows in this and another
   3600     :class:`DataFrame`.
   3601
   (...)
   3644     +----+----+----+
   3645     """
-> 3646     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 5 columns and the second input has 4 columns.;
'Union false, false
:- LogicalRDD [id#3135L, salary#3136L, manager_id#3137L, name#3138, bonus#3139L], false
+- LogicalRDD [id#2523L, name#2524, salary#2525L, manager_id#2526L], false

In [0]:

wrong_manager_df.select('id', 'salary', 'manager_id', 'name').union(manager_df1).show()

+---+------+----------+-----+
| id|salary|manager_id| name|
+---+------+----------+-----+
| 19| 50000|        18|Sohan|
| 20| 75000|        17| Sima|
| 19| Sohan|     50000|   18|
| 20|  Sima|     75000|   17|
+---+------+----------+-----+

In [0]:
wrong_column_data2=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]

wrong_column_schema2 = ['id', 'salary', 'manager_id', 'nam']

wrong_column_df2 = spark.createDataFrame(data=wrong_column_data2, schema=wrong_column_schema2)

wrong_column_df2.show()

+---+------+----------+-----+
| id|salary|manager_id|  nam|
+---+------+----------+-----+
| 19| 50000|        18|Sohan|
| 20| 75000|        17| Sima|
+---+------+----------+-----+

In [0]:
wrong_manager_df.unionByName(wrong_column_df2)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4341238895431350>:1
----> 1 wrong_manager_df.unionByName(wrong_column_df2)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Cannot resolve column name "name" among (id, salary, manager_id, nam).

Casewhen and otherwise

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

emp_scheme = ['id', 'name', 'age', 'salary', 'country', 'dept']

emp_df = spark.createDataFrame(data=emp_data, schema=emp_scheme)

emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.withColumn("adult", when(col("age")>18, "Yes")
                  .when(col("age")<18, "No")
                  .otherwise("No value")).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|   adult|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|     Yes|
|   2|  rahul|null| 40000|germany|engineering|No value|
|   3|  pawan|  12| 60000|  india|      sales|      No|
|   4|roshini|  44|  null|     uk|engineering|     Yes|
|   5|raushan|  35| 70000|  india|      sales|     Yes|
|   6|   null|  29|200000|     uk|         IT|     Yes|
|   7|   adam|  37| 65000|     us|         IT|     Yes|
|   8|  chris|  16| 40000|     us|      sales|      No|
|null|   null|null|  null|   null|       null|No value|
|   7|   adam|  37| 65000|     us|         IT|     Yes|
+----+-------+----+------+-------+-----------+--------+

In [0]:
emp_df.withColumn("age", when(col("age").isNull(), lit(19))
                  .otherwise(col("age")))\
    .withColumn("adult", when(col("age")>18, "Yes")
                  .when(col("age")<18, "No")
                  .otherwise("No value")).show()

+----+-------+---+------+-------+-----------+-----+
|  id|   name|age|salary|country|       dept|adult|
+----+-------+---+------+-------+-----------+-----+
|   1| manish| 26| 20000|  india|         IT|  Yes|
|   2|  rahul| 19| 40000|germany|engineering|  Yes|
|   3|  pawan| 12| 60000|  india|      sales|   No|
|   4|roshini| 44|  null|     uk|engineering|  Yes|
|   5|raushan| 35| 70000|  india|      sales|  Yes|
|   6|   null| 29|200000|     uk|         IT|  Yes|
|   7|   adam| 37| 65000|     us|         IT|  Yes|
|   8|  chris| 16| 40000|     us|      sales|   No|
|null|   null| 19|  null|   null|       null|  Yes|
|   7|   adam| 37| 65000|     us|         IT|  Yes|
+----+-------+---+------+-------+-----------+-----+

In [0]:
emp_df.withColumn("age_wise", when((col("age") < 18) & (col("age") > 0), "Minor")
                  .otherwise("Major")).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|age_wise|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|   Major|
|   2|  rahul|null| 40000|germany|engineering|   Major|
|   3|  pawan|  12| 60000|  india|      sales|   Minor|
|   4|roshini|  44|  null|     uk|engineering|   Major|
|   5|raushan|  35| 70000|  india|      sales|   Major|
|   6|   null|  29|200000|     uk|         IT|   Major|
|   7|   adam|  37| 65000|     us|         IT|   Major|
|   8|  chris|  16| 40000|     us|      sales|   Minor|
|null|   null|null|  null|   null|       null|   Major|
|   7|   adam|  37| 65000|     us|         IT|   Major|
+----+-------+----+------+-------+-----------+--------+

In [0]:
emp_df.createOrReplaceTempView("emp_tbl")

In [0]:
spark.sql("""
          select * ,
          case when age > 18 then "major"
          when age < 18 then "minor"
          else "no value"
          end as adult
          from emp_tbl
          """).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country|       dept|   adult|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|   major|
|   2|  rahul|null| 40000|germany|engineering|no value|
|   3|  pawan|  12| 60000|  india|      sales|   minor|
|   4|roshini|  44|  null|     uk|engineering|   major|
|   5|raushan|  35| 70000|  india|      sales|   major|
|   6|   null|  29|200000|     uk|         IT|   major|
|   7|   adam|  37| 65000|     us|         IT|   major|
|   8|  chris|  16| 40000|     us|      sales|   minor|
|null|   null|null|  null|   null|       null|no value|
|   7|   adam|  37| 65000|     us|         IT|   major|
+----+-------+----+------+-------+-----------+--------+

Unique and Sorted records

In [0]:
manager_data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)
     ]

manager_scheme = ['id', 'name', 'salary', 'manager_id']

managerdf = spark.createDataFrame(data=manager_data, schema=manager_scheme)

managerdf.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 15| Mohit| 45000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 90000|        18|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
managerdf.createOrReplaceGlobalTempView("managerdf_tbl")

In [0]:
managerdf.distinct().show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 12| Nisha| 40000|        18|
| 11| Vikas| 75000|        16|
| 13| Nidhi| 60000|        17|
| 15| Mohit| 45000|        18|
| 14| Priya| 80000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 14| Priya| 90000|        18|
+---+------+------+----------+

In [0]:
managerdf.distinct().count()

Out[125]: 10

In [0]:
managerdf.show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 11| Vikas| 75000|        16|
| 12| Nisha| 40000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 80000|        18|
| 15| Mohit| 45000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 15| Mohit| 45000|        18|
| 13| Nidhi| 60000|        17|
| 14| Priya| 90000|        18|
| 18|   Sam| 65000|        17|
+---+------+------+----------+

In [0]:
managerdf.distinct("id", "name").show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-281393194693269>:1
----> 1 managerdf.distinct("id", "show").show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

TypeError: distinct() takes 1 positional argument but 3 were given

In [0]:
managerdf.select("id", "name").distinct().show()

+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

In [0]:
drop_dup_df = managerdf.drop_duplicates(['id', 'name', 'salary', 'manager_id']).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 10|  Anil| 50000|        18|
| 12| Nisha| 40000|        18|
| 11| Vikas| 75000|        16|
| 13| Nidhi| 60000|        17|
| 15| Mohit| 45000|        18|
| 14| Priya| 80000|        18|
| 16|Rajesh| 90000|        10|
| 17| Raman| 55000|        16|
| 18|   Sam| 65000|        17|
| 14| Priya| 90000|        18|
+---+------+------+----------+

In [0]:
managerdf.sort(col("salary")).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 12| Nisha| 40000|        18|
| 15| Mohit| 45000|        18|
| 15| Mohit| 45000|        18|
| 10|  Anil| 50000|        18|
| 17| Raman| 55000|        16|
| 13| Nidhi| 60000|        17|
| 13| Nidhi| 60000|        17|
| 18|   Sam| 65000|        17|
| 18|   Sam| 65000|        17|
| 11| Vikas| 75000|        16|
| 14| Priya| 80000|        18|
| 16|Rajesh| 90000|        10|
| 14| Priya| 90000|        18|
+---+------+------+----------+

In [0]:
managerdf.sort(col("salary").desc()).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 14| Priya| 90000|        18|
| 16|Rajesh| 90000|        10|
| 14| Priya| 80000|        18|
| 11| Vikas| 75000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 65000|        17|
| 13| Nidhi| 60000|        17|
| 13| Nidhi| 60000|        17|
| 17| Raman| 55000|        16|
| 10|  Anil| 50000|        18|
| 15| Mohit| 45000|        18|
| 15| Mohit| 45000|        18|
| 12| Nisha| 40000|        18|
+---+------+------+----------+

In [0]:
managerdf.sort(col("salary").desc(), col("name").desc()).show()

+---+------+------+----------+
| id|  name|salary|manager_id|
+---+------+------+----------+
| 16|Rajesh| 90000|        10|
| 14| Priya| 90000|        18|
| 14| Priya| 80000|        18|
| 11| Vikas| 75000|        16|
| 18|   Sam| 65000|        17|
| 18|   Sam| 65000|        17|
| 13| Nidhi| 60000|        17|
| 13| Nidhi| 60000|        17|
| 17| Raman| 55000|        16|
| 10|  Anil| 50000|        18|
| 15| Mohit| 45000|        18|
| 15| Mohit| 45000|        18|
| 12| Nisha| 40000|        18|
+---+------+------+----------+

In [0]:
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

leet_schema = ['id', 'name', 'referee_id']

leet_df = spark.createDataFrame(data=leet_code_data, schema=leet_schema)

leet_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      null|
|  2|Jane|      null|
|  3|Alex|         2|
|  4|Bill|      null|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

In [0]:
leet_df.createOrReplaceTempView("leet_tbl")

Leet Code 
Get the names whose referee id is not 2

In [0]:
leet_df.select("name").where((col("referee_id") != 2) | (col("referee_id")).isNull()).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

In [0]:
spark.sql("""
          select name 
          from leet_tbl
          where referee_id != 2 or referee_id is null
          """).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

Aggregation functions

In [0]:
emp_df.count()

Out[155]: 10

In [0]:
emp_df.select("name").count()

Out[158]: 10

In [0]:
emp_df.select(count("id")).show()

+---------+
|count(id)|
+---------+
|        9|
+---------+

In [0]:
emp_df.select(sum("salary").alias("total_salary"), max("salary").alias("highest_salary"), min("salary").alias("lowest_salary"),
              avg("salary").alias("average_salary").cast("int"), count("salary").alias("count_of_salary")).show()

+------------+--------------+-------------+--------------+---------------+
|total_salary|highest_salary|lowest_salary|average_salary|count_of_salary|
+------------+--------------+-------------+--------------+---------------+
|      560000|        200000|        20000|         70000|              8|
+------------+--------------+-------------+--------------+---------------+

Group by

In [0]:
empp_data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

empp_schema =  ['id', 'name', 'salary', 'dept']

empp_df = spark.createDataFrame(data=empp_data, schema=empp_schema)

empp_df.show()

+---+-------+------+---------+
| id|   name|salary|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

In [0]:
empp_df.groupBy("dept").sum("salary").show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     295000|
|    sales|     150000|
|marketing|     220000|
+---------+-----------+

In [0]:
empl_data =[(1,'manish',50000,'IT','india'),
(2,'vikash',60000,'sales','us'),
(3,'raushan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')
]

empl_schema =  ['id', 'name', 'salary', 'dept', 'country']

empl_df = spark.createDataFrame(data=empl_data, schema=empl_schema)

empl_df.show()

+---+-------+------+---------+-------+
| id|   name|salary|     dept|country|
+---+-------+------+---------+-------+
|  1| manish| 50000|       IT|  india|
|  2| vikash| 60000|    sales|     us|
|  3|raushan| 70000|marketing|  india|
|  4| mukesh| 80000|       IT|     us|
|  5| pritam| 90000|    sales|  india|
|  6| nikita| 45000|marketing|     us|
|  7| ragini| 55000|marketing|  india|
|  8| rakesh|100000|       IT|     us|
|  9| aditya| 65000|       IT|  india|
| 10|  rahul| 50000|marketing|     us|
+---+-------+------+---------+-------+

In [0]:
empl_df.createOrReplaceTempView("empl_tbl")

In [0]:
empl_df.groupBy("dept", "country").agg(sum("salary")).show()

+---------+-------+-----------+
|     dept|country|sum(salary)|
+---------+-------+-----------+
|       IT|  india|     115000|
|    sales|     us|      60000|
|marketing|  india|     125000|
|    sales|  india|      90000|
|       IT|     us|     180000|
|marketing|     us|      95000|
+---------+-------+-----------+

In [0]:
spark.sql("""
          select dept, sum(salary)
          from empl_tbl
          group by dept
          """).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     295000|
|    sales|     150000|
|marketing|     220000|
+---------+-----------+

Joins

In [0]:

customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']

customer_df = spark.createDataFrame(data=customer_data, schema=customer_schema)

customer_df.createOrReplaceTempView("customer_tbl")

customer_df.show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          7|        raman|  patna|     30-12-2022|
|          8|      prakash| ranchi|     24-02-2023|
|          9|       ragini|kolkata|     03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [0]:
sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']


sales_df = spark.createDataFrame(data=sales_data, schema=sales_schema)

sales_df.createOrReplaceTempView("sales_tbl")

sales_df.show()

+-----------+----------+--------+----------------+
|customer_id|product_id|quantity|date_of_purchase|
+-----------+----------+--------+----------------+
|          1|        22|      10|      01-06-2022|
|          1|        27|       5|      03-02-2023|
|          2|         5|       3|      01-06-2023|
|          5|        22|       1|      22-03-2023|
|          7|        22|       4|      03-02-2023|
|          9|         5|       6|      03-03-2023|
|          2|         1|      12|      15-06-2023|
|          1|        56|       2|      25-06-2023|
|          5|        12|       5|      15-04-2023|
|         11|        12|      76|      12-03-2023|
+-----------+----------+--------+----------------+

In [0]:
product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']

product_df = spark.createDataFrame(data=product_data, schema=product_schema)

product_df.createOrReplaceTempView("product_tbl")

product_df.show()

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  fanta|   20|
|  2|    dew|   22|
|  5| sprite|   40|
|  7|redbull|  100|
| 12|  mazza|   45|
| 22|   coke|   27|
| 25|  limca|   21|
| 27|  pepsi|   14|
| 56|  sting|   10|
+---+-------+-----+

In [0]:
customer_df.join(sales_df, sales_df["customer_id"]==customer_df["customer_id"], "inner").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
customer_df.join(sales_df, sales_df["customer_id"]==customer_df["customer_id"], \
    "inner").select(sales_df['product_id']).sort(sales_df['product_id']).show()

+----------+
|product_id|
+----------+
|         1|
|         5|
|         5|
|        12|
|        22|
|        22|
|        22|
|        27|
|        56|
+----------+

In [0]:
customer_df.join(sales_df, (sales_df["customer_id"]==customer_df["customer_id"]) & \
                 (sales_df["product_id"]==customer_df["product_id"]), \
    "inner").select(sales_df['product_id']).sort(sales_df['product_id']).show()

In [0]:

customer_df.join(sales_df, sales_df["customer_id"]==customer_df["customer_id"], "left").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:

customer_df.join(sales_df, sales_df["customer_id"]==customer_df["customer_id"], "right").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:

sales_df.join(product_df, sales_df["product_id"]==product_df["id"], "right").show()

+-----------+----------+--------+----------------+---+-------+-----+
|customer_id|product_id|quantity|date_of_purchase| id|   name|price|
+-----------+----------+--------+----------------+---+-------+-----+
|          2|         1|      12|      15-06-2023|  1|  fanta|   20|
|       null|      null|    null|            null|  2|    dew|   22|
|          9|         5|       6|      03-03-2023|  5| sprite|   40|
|          2|         5|       3|      01-06-2023|  5| sprite|   40|
|       null|      null|    null|            null|  7|redbull|  100|
|         11|        12|      76|      12-03-2023| 12|  mazza|   45|
|          5|        12|       5|      15-04-2023| 12|  mazza|   45|
|          7|        22|       4|      03-02-2023| 22|   coke|   27|
|          5|        22|       1|      22-03-2023| 22|   coke|   27|
|          1|        22|      10|      01-06-2022| 22|   coke|   27|
|       null|      null|    null|            null| 25|  limca|   21|
|          1|        27|       5|      03-02-2023| 27|  pepsi|   14|
|          1|        56|       2|      25-06-2023| 56|  sting|   10|
+-----------+----------+--------+----------------+---+-------+-----+

In [0]:
 
product_df.join(sales_df, sales_df["customer_id"]==product_df["id"], "right").show()

+----+-------+-----+-----------+----------+--------+----------------+
|  id|   name|price|customer_id|product_id|quantity|date_of_purchase|
+----+-------+-----+-----------+----------+--------+----------------+
|   1|  fanta|   20|          1|        22|      10|      01-06-2022|
|   1|  fanta|   20|          1|        27|       5|      03-02-2023|
|   2|    dew|   22|          2|         5|       3|      01-06-2023|
|   5| sprite|   40|          5|        22|       1|      22-03-2023|
|   7|redbull|  100|          7|        22|       4|      03-02-2023|
|null|   null| null|          9|         5|       6|      03-03-2023|
|   2|    dew|   22|          2|         1|      12|      15-06-2023|
|   1|  fanta|   20|          1|        56|       2|      25-06-2023|
|   5| sprite|   40|          5|        12|       5|      15-04-2023|
|null|   null| null|         11|        12|      76|      12-03-2023|
+----+-------+-----+-----------+----------+--------+----------------+

In [0]:

customer_df.join(sales_df, sales_df["customer_id"]==customer_df["customer_id"], "full").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:

customer_df.join(sales_df, sales_df["customer_id"]==customer_df["customer_id"], "left_semi").show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          7|        raman|  patna|     30-12-2022|
|          9|       ragini|kolkata|     03-03-2023|
+-----------+-------------+-------+---------------+

In [0]:
customer_df.join(sales_df, sales_df["customer_id"]==customer_df["customer_id"], "left_anti").show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          8|      prakash| ranchi|     24-02-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

In [0]:

customer_df.crossJoin(sales_df).show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          2|         5|       3|      01-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        22|       1|      22-03-2023|
|          1|       manish|  patna|     30-05-2022|          7|        22|       4|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          9|         5|       6|      03-03-2023|
|          1|       manish|  patna|     30-05-2022|          2|         1|      12|      15-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        12|       5|      15-04-2023|
|          1|       manish|  patna|     30-05-2022|         11|        12|      76|      12-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          1|        27|       5|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        22|       1|      22-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          7|        22|       4|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          9|         5|       6|      03-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        12|       5|      15-04-2023|
|          2|       vikash|kolkata|     12-03-2023|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
only showing top 20 rows

Leet code Question

In [0]:
 person_data = [(1,'Wang','Allen'),
 (2,'Alice','Bob')]    

 person_schema = ['person_id', 'last_name', 'first_name']

 person_df = spark.createDataFrame(data=person_data, schema=person_schema)

 person_df.show()

+---------+---------+----------+
|person_id|last_name|first_name|
+---------+---------+----------+
|        1|     Wang|     Allen|
|        2|    Alice|       Bob|
+---------+---------+----------+

In [0]:
address_data = [
    (1, 2, 'New York City', 'New York'),
    (2, 3, 'Leetcode', 'California')
    ]

address_schema = ['address_id', 'person_id', 'city', 'state']

address_df = spark.createDataFrame(data=address_data, schema=address_schema)

address_df.show()

+----------+---------+-------------+----------+
|address_id|person_id|         city|     state|
+----------+---------+-------------+----------+
|         1|        2|New York City|  New York|
|         2|        3|     Leetcode|California|
+----------+---------+-------------+----------+

In [0]:
person_df.join(address_df, person_df['person_id']==address_df['person_id'], "left")\
    .select(person_df['first_name'], person_df['last_name'], address_df['city'], address_df['state']).show()

+----------+---------+-------------+--------+
|first_name|last_name|         city|   state|
+----------+---------+-------------+--------+
|     Allen|     Wang|         null|    null|
|       Bob|    Alice|New York City|New York|
+----------+---------+-------------+--------+

Window Functions

In [0]:
emp_d = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_s = ['id', 'name', 'salary', 'dept', 'gender']

emp_dff = spark.createDataFrame(data=emp_d, schema=emp_s)

emp_dff.show()

+---+--------+------+---------+------+
| id|    name|salary|     dept|gender|
+---+--------+------+---------+------+
|  1|  manish| 50000|       IT|     m|
|  2|  vikash| 60000|    sales|     m|
|  3| raushan| 70000|marketing|     m|
|  4|  mukesh| 80000|       IT|     m|
|  5|   priti| 90000|    sales|     f|
|  6|  nikita| 45000|marketing|     f|
|  7|  ragini| 55000|marketing|     f|
|  8|   rashi|100000|       IT|     f|
|  9|  aditya| 65000|       IT|     m|
| 10|   rahul| 50000|marketing|     m|
| 11|   rakhi| 50000|       IT|     f|
| 12|akhilesh| 90000|    sales|     m|
+---+--------+------+---------+------+

In [0]:
emp_dff.groupBy("dept").sum("salary").show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     345000|
|marketing|     220000|
|    sales|     240000|
+---------+-----------+

In [0]:
from pyspark.sql.window import Window

window = Window.partitionBy("dept")
emp_dff = emp_dff.withColumn("total_salary", sum("salary").over(window=window))

emp_dff.show()

+---+--------+------+---------+------+------------+
| id|    name|salary|     dept|gender|total_salary|
+---+--------+------+---------+------+------------+
|  1|  manish| 50000|       IT|     m|      345000|
|  4|  mukesh| 80000|       IT|     m|      345000|
|  8|   rashi|100000|       IT|     f|      345000|
|  9|  aditya| 65000|       IT|     m|      345000|
| 11|   rakhi| 50000|       IT|     f|      345000|
|  3| raushan| 70000|marketing|     m|      220000|
|  6|  nikita| 45000|marketing|     f|      220000|
|  7|  ragini| 55000|marketing|     f|      220000|
| 10|   rahul| 50000|marketing|     m|      220000|
|  2|  vikash| 60000|    sales|     m|      240000|
|  5|   priti| 90000|    sales|     f|      240000|
| 12|akhilesh| 90000|    sales|     m|      240000|
+---+--------+------+---------+------+------------+

In [0]:
from pyspark.sql.window import Window

window = Window.partitionBy("dept").orderBy("salary")
emp_dff = emp_dff.withColumn("Row_number", row_number().over(window=window))

emp_dff.show()

+---+--------+------+---------+------+------------+-----+----------+
| id|    name|salary|     dept|gender|total_salary|Order|Row_number|
+---+--------+------+---------+------+------------+-----+----------+
|  1|  manish| 50000|       IT|     m|      345000|    1|         1|
| 11|   rakhi| 50000|       IT|     f|      345000|    1|         2|
|  9|  aditya| 65000|       IT|     m|      345000|    2|         3|
|  4|  mukesh| 80000|       IT|     m|      345000|    3|         4|
|  8|   rashi|100000|       IT|     f|      345000|    4|         5|
|  6|  nikita| 45000|marketing|     f|      220000|    1|         1|
| 10|   rahul| 50000|marketing|     m|      220000|    2|         2|
|  7|  ragini| 55000|marketing|     f|      220000|    3|         3|
|  3| raushan| 70000|marketing|     m|      220000|    4|         4|
|  2|  vikash| 60000|    sales|     m|      240000|    1|         1|
|  5|   priti| 90000|    sales|     f|      240000|    2|         2|
| 12|akhilesh| 90000|    sales|     m|      240000|    2|         3|
+---+--------+------+---------+------+------------+-----+----------+

In [0]:
window = Window.partitionBy("dept").orderBy("salary")
emp_dff = emp_dff.withColumn("Rank", rank().over(window=window))

emp_dff.show()

+---+--------+------+---------+------+------------+-----+----------+----+
| id|    name|salary|     dept|gender|total_salary|Order|Row_number|Rank|
+---+--------+------+---------+------+------------+-----+----------+----+
|  1|  manish| 50000|       IT|     m|      345000|    1|         1|   1|
| 11|   rakhi| 50000|       IT|     f|      345000|    1|         2|   1|
|  9|  aditya| 65000|       IT|     m|      345000|    2|         3|   3|
|  4|  mukesh| 80000|       IT|     m|      345000|    3|         4|   4|
|  8|   rashi|100000|       IT|     f|      345000|    4|         5|   5|
|  6|  nikita| 45000|marketing|     f|      220000|    1|         1|   1|
| 10|   rahul| 50000|marketing|     m|      220000|    2|         2|   2|
|  7|  ragini| 55000|marketing|     f|      220000|    3|         3|   3|
|  3| raushan| 70000|marketing|     m|      220000|    4|         4|   4|
|  2|  vikash| 60000|    sales|     m|      240000|    1|         1|   1|
|  5|   priti| 90000|    sales|     f|      240000|    2|         2|   2|
| 12|akhilesh| 90000|    sales|     m|      240000|    2|         3|   2|
+---+--------+------+---------+------+------------+-----+----------+----+

In [0]:
window = Window.partitionBy("dept").orderBy("salary")
emp_dff = emp_dff.withColumn("Dense_Rank", dense_rank().over(window=window))

emp_dff.show()

+---+--------+------+---------+------+------------+-----+----------+----+----------+
| id|    name|salary|     dept|gender|total_salary|Order|Row_number|Rank|Dense_Rank|
+---+--------+------+---------+------+------------+-----+----------+----+----------+
|  1|  manish| 50000|       IT|     m|      345000|    1|         1|   1|         1|
| 11|   rakhi| 50000|       IT|     f|      345000|    1|         2|   1|         1|
|  9|  aditya| 65000|       IT|     m|      345000|    2|         3|   3|         2|
|  4|  mukesh| 80000|       IT|     m|      345000|    3|         4|   4|         3|
|  8|   rashi|100000|       IT|     f|      345000|    4|         5|   5|         4|
|  6|  nikita| 45000|marketing|     f|      220000|    1|         1|   1|         1|
| 10|   rahul| 50000|marketing|     m|      220000|    2|         2|   2|         2|
|  7|  ragini| 55000|marketing|     f|      220000|    3|         3|   3|         3|
|  3| raushan| 70000|marketing|     m|      220000|    4|         4|   4|         4|
|  2|  vikash| 60000|    sales|     m|      240000|    1|         1|   1|         1|
|  5|   priti| 90000|    sales|     f|      240000|    2|         2|   2|         2|
| 12|akhilesh| 90000|    sales|     m|      240000|    2|         3|   2|         2|
+---+--------+------+---------+------+------------+-----+----------+----+----------+

In [0]:
window = Window.partitionBy("dept").orderBy("salary")
emp_dff = emp_dff.withColumn("row_number", row_number().over(window=window))\
    .withColumn("rank", rank().over(window=window))\
        .withColumn("dense_rank", dense_rank().over(window=window)
                             )

emp_dff.show()

+---+--------+------+---------+------+------------+-----+----------+----+----------+
| id|    name|salary|     dept|gender|total_salary|Order|row_number|rank|dense_rank|
+---+--------+------+---------+------+------------+-----+----------+----+----------+
|  1|  manish| 50000|       IT|     m|      345000|    1|         1|   1|         1|
| 11|   rakhi| 50000|       IT|     f|      345000|    1|         2|   1|         1|
|  9|  aditya| 65000|       IT|     m|      345000|    2|         3|   3|         2|
|  4|  mukesh| 80000|       IT|     m|      345000|    3|         4|   4|         3|
|  8|   rashi|100000|       IT|     f|      345000|    4|         5|   5|         4|
|  6|  nikita| 45000|marketing|     f|      220000|    1|         1|   1|         1|
| 10|   rahul| 50000|marketing|     m|      220000|    2|         2|   2|         2|
|  7|  ragini| 55000|marketing|     f|      220000|    3|         3|   3|         3|
|  3| raushan| 70000|marketing|     m|      220000|    4|         4|   4|         4|
|  2|  vikash| 60000|    sales|     m|      240000|    1|         1|   1|         1|
|  5|   priti| 90000|    sales|     f|      240000|    2|         2|   2|         2|
| 12|akhilesh| 90000|    sales|     m|      240000|    2|         3|   2|         2|
+---+--------+------+---------+------+------------+-----+----------+----+----------+

In [0]:
window = Window.partitionBy("dept", "gender").orderBy("salary")
emp_dff = emp_dff.withColumn("row_number", row_number().over(window=window))\
    .withColumn("rank", rank().over(window=window))\
        .withColumn("dense_rank", dense_rank().over(window=window)
                             )

emp_dff.show()

+---+------+------+----+------+------------+-----+----------+----+----------+
| id|  name|salary|dept|gender|total_salary|Order|row_number|rank|dense_rank|
+---+------+------+----+------+------------+-----+----------+----+----------+
|  8| rashi|100000|  IT|     f|      345000|    4|         1|   1|         1|
|  4|mukesh| 80000|  IT|     m|      345000|    3|         1|   1|         1|
+---+------+------+----+------+------------+-----+----------+----+----------+

In [0]:
window = Window.partitionBy("dept").orderBy(desc("salary"))
emp_dff = emp_dff.withColumn("row_number", row_number().over(window=window))\
    .withColumn("rank", rank().over(window=window))\
        .withColumn("dense_rank", dense_rank().over(window=window)\
                             ).filter(col("dense_rank")<=2)

emp_dff.show()

+---+------+------+----+------+------------+-----+----------+----+----------+
| id|  name|salary|dept|gender|total_salary|Order|row_number|rank|dense_rank|
+---+------+------+----+------+------------+-----+----------+----+----------+
|  8| rashi|100000|  IT|     f|      345000|    4|         1|   1|         1|
|  4|mukesh| 80000|  IT|     m|      345000|    3|         2|   2|         2|
+---+------+------+----+------+------------+-----+----------+----+----------+

In [0]:
window = Window.partitionBy("dept").orderBy(desc("salary"))
emp_dff = emp_dff.withColumn("row_number", row_number().over(window=window))\
    .withColumn("rank", rank().over(window=window))\
        .withColumn("dense_rank", dense_rank().over(window=window)\
                             ).filter(col("dense_rank")<=2).limit(2)

emp_dff.show()

+---+------+------+----+------+------------+-----+----------+----+----------+
| id|  name|salary|dept|gender|total_salary|Order|row_number|rank|dense_rank|
+---+------+------+----+------+------------+-----+----------+----+----------+
|  8| rashi|100000|  IT|     f|      345000|    4|         1|   1|         1|
|  4|mukesh| 80000|  IT|     m|      345000|    3|         2|   2|         2|
+---+------+------+----+------+------------+-----+----------+----+----------+

Lead and Lag

In [0]:
product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]


product_schema = ['product_id', 'product_name', 'sales_date', 'sales']

product_df = spark.createDataFrame(data=product_data, schema=product_schema)

product_df.show

+----------+------------+----------+-------+
|product_id|product_name|sales_date|  sales|
+----------+------------+----------+-------+
|         1|      iphone|01-01-2023|1500000|
|         2|     samsung|01-01-2023|1100000|
|         3|     oneplus|01-01-2023|1100000|
|         1|      iphone|01-02-2023|1300000|
|         2|     samsung|01-02-2023|1120000|
|         3|     oneplus|01-02-2023|1120000|
|         1|      iphone|01-03-2023|1600000|
|         2|     samsung|01-03-2023|1080000|
|         3|     oneplus|01-03-2023|1160000|
|         1|      iphone|01-04-2023|1700000|
|         2|     samsung|01-04-2023|1800000|
|         3|     oneplus|01-04-2023|1170000|
|         1|      iphone|01-05-2023|1200000|
|         2|     samsung|01-05-2023| 980000|
|         3|     oneplus|01-05-2023|1175000|
|         1|      iphone|01-06-2023|1100000|
|         2|     samsung|01-06-2023|1100000|
|         3|     oneplus|01-06-2023|1200000|
+----------+------------+----------+-------+

In [0]:
window = Window.partitionBy("product_id").orderBy(desc("sales_date"))
last_month = product_df.withColumn("lead", lead(col('sales'), 1, "No value").over(window=window))\
    .withColumn("lag", lag(col('sales'), ).over(window=window))

last_month.show()

+----------+------------+----------+-------+-------+-------+
|product_id|product_name|sales_date|  sales|   lead|    lag|
+----------+------------+----------+-------+-------+-------+
|         1|      iphone|01-06-2023|1100000|1200000|   null|
|         1|      iphone|01-05-2023|1200000|1700000|1100000|
|         1|      iphone|01-04-2023|1700000|1600000|1200000|
|         1|      iphone|01-03-2023|1600000|1300000|1700000|
|         1|      iphone|01-02-2023|1300000|1500000|1600000|
|         1|      iphone|01-01-2023|1500000|   null|1300000|
|         2|     samsung|01-06-2023|1100000| 980000|   null|
|         2|     samsung|01-05-2023| 980000|1800000|1100000|
|         2|     samsung|01-04-2023|1800000|1080000| 980000|
|         2|     samsung|01-03-2023|1080000|1120000|1800000|
|         2|     samsung|01-02-2023|1120000|1100000|1080000|
|         2|     samsung|01-01-2023|1100000|   null|1120000|
|         3|     oneplus|01-06-2023|1200000|1175000|   null|
|         3|     oneplus|01-05-2023|1175000|1170000|1200000|
|         3|     oneplus|01-04-2023|1170000|1160000|1175000|
|         3|     oneplus|01-03-2023|1160000|1120000|1170000|
|         3|     oneplus|01-02-2023|1120000|1100000|1160000|
|         3|     oneplus|01-01-2023|1100000|   null|1120000|
+----------+------------+----------+-------+-------+-------+

In [0]:
window = Window.partitionBy("product_id").orderBy("sales_date")
last_month = product_df.withColumn("previous_month_loss", lag(col('sales'), 1, "null").over(window=window))

last_month.show()

+----------+------------+----------+-------+-------------------+
|product_id|product_name|sales_date|  sales|previous_month_loss|
+----------+------------+----------+-------+-------------------+
|         1|      iphone|01-01-2023|1500000|               null|
|         1|      iphone|01-02-2023|1300000|            1500000|
|         1|      iphone|01-03-2023|1600000|            1300000|
|         1|      iphone|01-04-2023|1700000|            1600000|
|         1|      iphone|01-05-2023|1200000|            1700000|
|         1|      iphone|01-06-2023|1100000|            1200000|
|         2|     samsung|01-01-2023|1100000|               null|
|         2|     samsung|01-02-2023|1120000|            1100000|
|         2|     samsung|01-03-2023|1080000|            1120000|
|         2|     samsung|01-04-2023|1800000|            1080000|
|         2|     samsung|01-05-2023| 980000|            1800000|
|         2|     samsung|01-06-2023|1100000|             980000|
|         3|     oneplus|01-01-2023|1100000|               null|
|         3|     oneplus|01-02-2023|1120000|            1100000|
|         3|     oneplus|01-03-2023|1160000|            1120000|
|         3|     oneplus|01-04-2023|1170000|            1160000|
|         3|     oneplus|01-05-2023|1175000|            1170000|
|         3|     oneplus|01-06-2023|1200000|            1175000|
+----------+------------+----------+-------+-------------------+

In [0]:
window = Window.partitionBy("product_id").orderBy("sales_date")
last_month = last_month.withColumn("loss_percentage",  round(((col('sales') - col('previous_month_loss'))/ col('sales'))*100))

last_month.show()

+----------+------------+----------+-------+-------------------+---------------+
|product_id|product_name|sales_date|  sales|previous_month_loss|loss_percentage|
+----------+------------+----------+-------+-------------------+---------------+
|         1|      iphone|01-01-2023|1500000|               null|           null|
|         1|      iphone|01-02-2023|1300000|            1500000|          -15.0|
|         1|      iphone|01-03-2023|1600000|            1300000|           19.0|
|         1|      iphone|01-04-2023|1700000|            1600000|            6.0|
|         1|      iphone|01-05-2023|1200000|            1700000|          -42.0|
|         1|      iphone|01-06-2023|1100000|            1200000|           -9.0|
|         2|     samsung|01-01-2023|1100000|               null|           null|
|         2|     samsung|01-02-2023|1120000|            1100000|            2.0|
|         2|     samsung|01-03-2023|1080000|            1120000|           -4.0|
|         2|     samsung|01-04-2023|1800000|            1080000|           40.0|
|         2|     samsung|01-05-2023| 980000|            1800000|          -84.0|
|         2|     samsung|01-06-2023|1100000|             980000|           11.0|
|         3|     oneplus|01-01-2023|1100000|               null|           null|
|         3|     oneplus|01-02-2023|1120000|            1100000|            2.0|
|         3|     oneplus|01-03-2023|1160000|            1120000|            3.0|
|         3|     oneplus|01-04-2023|1170000|            1160000|            1.0|
|         3|     oneplus|01-05-2023|1175000|            1170000|            0.0|
|         3|     oneplus|01-06-2023|1200000|            1175000|            2.0|
+----------+------------+----------+-------+-------------------+---------------+

In [0]:
phone_window = Window.partitionBy("product_name")

monthly_sales_df = product_df.withColumn("Total Sales",sum(col("sales")).over(phone_window))\
 .withColumn("Sales %",round((col("sales")/col("Total Sales"))*100,2))

monthly_sales_df.show()

+----------+------------+----------+-------+-----------+-------+
|product_id|product_name|sales_date|  sales|Total Sales|Sales %|
+----------+------------+----------+-------+-----------+-------+
|         1|      iphone|01-01-2023|1500000|    8400000|  17.86|
|         1|      iphone|01-02-2023|1300000|    8400000|  15.48|
|         1|      iphone|01-03-2023|1600000|    8400000|  19.05|
|         1|      iphone|01-04-2023|1700000|    8400000|  20.24|
|         1|      iphone|01-05-2023|1200000|    8400000|  14.29|
|         1|      iphone|01-06-2023|1100000|    8400000|   13.1|
|         3|     oneplus|01-01-2023|1100000|    6925000|  15.88|
|         3|     oneplus|01-02-2023|1120000|    6925000|  16.17|
|         3|     oneplus|01-03-2023|1160000|    6925000|  16.75|
|         3|     oneplus|01-04-2023|1170000|    6925000|   16.9|
|         3|     oneplus|01-05-2023|1175000|    6925000|  16.97|
|         3|     oneplus|01-06-2023|1200000|    6925000|  17.33|
|         2|     samsung|01-01-2023|1100000|    7180000|  15.32|
|         2|     samsung|01-02-2023|1120000|    7180000|   15.6|
|         2|     samsung|01-03-2023|1080000|    7180000|  15.04|
|         2|     samsung|01-04-2023|1800000|    7180000|  25.07|
|         2|     samsung|01-05-2023| 980000|    7180000|  13.65|
|         2|     samsung|01-06-2023|1100000|    7180000|  15.32|
+----------+------------+----------+-------+-----------+-------+

In [0]:
from pyspark.sql.window import Window

window = Window.partitionBy("product_id").orderBy("sales_date").rowsBetween(Window.unboundedPreceding, Window.unboundedFollowing)

In [0]:
product_df.withColumn("first_sales", first("sales").over(window))\
    .withColumn("last_sales", last("sales").over(window)).show()

+----------+------------+----------+-------+-----------+----------+
|product_id|product_name|sales_date|  sales|first_sales|last_sales|
+----------+------------+----------+-------+-----------+----------+
|         1|      iphone|01-01-2023|1500000|    1500000|   1100000|
|         1|      iphone|01-02-2023|1300000|    1500000|   1100000|
|         1|      iphone|01-03-2023|1600000|    1500000|   1100000|
|         1|      iphone|01-04-2023|1700000|    1500000|   1100000|
|         1|      iphone|01-05-2023|1200000|    1500000|   1100000|
|         1|      iphone|01-06-2023|1100000|    1500000|   1100000|
|         2|     samsung|01-01-2023|1100000|    1100000|   1100000|
|         2|     samsung|01-02-2023|1120000|    1100000|   1100000|
|         2|     samsung|01-03-2023|1080000|    1100000|   1100000|
|         2|     samsung|01-04-2023|1800000|    1100000|   1100000|
|         2|     samsung|01-05-2023| 980000|    1100000|   1100000|
|         2|     samsung|01-06-2023|1100000|    1100000|   1100000|
|         3|     oneplus|01-01-2023|1100000|    1100000|   1200000|
|         3|     oneplus|01-02-2023|1120000|    1100000|   1200000|
|         3|     oneplus|01-03-2023|1160000|    1100000|   1200000|
|         3|     oneplus|01-04-2023|1170000|    1100000|   1200000|
|         3|     oneplus|01-05-2023|1175000|    1100000|   1200000|
|         3|     oneplus|01-06-2023|1200000|    1100000|   1200000|
+----------+------------+----------+-------+-----------+----------+

In [0]:
product_df.withColumn("first_sales", first("sales").over(window))\
    .withColumn("last_sales", last("sales").over(window)).explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Window [product_id#8107L, product_name#8108, sales_date#8109, sales#8110L, first(sales#8110L, false) windowspecdefinition(product_id#8107L, sales_date#8109 ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS first_sales#8673L, last(sales#8110L, false) windowspecdefinition(product_id#8107L, sales_date#8109 ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS last_sales#8680L], [product_id#8107L], [sales_date#8109 ASC NULLS FIRST]
   +- Sort [product_id#8107L ASC NULLS FIRST, sales_date#8109 ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(product_id#8107L, 200), ENSURE_REQUIREMENTS, [plan_id=11186]
         +- Scan ExistingRDD[product_id#8107L,product_name#8108,sales_date#8109,sales#8110L]

In [0]:
new_prod = product_df.withColumn("first_sales", first("sales").over(window))\
    .withColumn("last_sales", last("sales").over(window))

new_prod.distinct().show()

+----------+------------+----------+-------+-----------+----------+
|product_id|product_name|sales_date|  sales|first_sales|last_sales|
+----------+------------+----------+-------+-----------+----------+
|         1|      iphone|01-01-2023|1500000|    1500000|   1100000|
|         1|      iphone|01-02-2023|1300000|    1500000|   1100000|
|         1|      iphone|01-03-2023|1600000|    1500000|   1100000|
|         1|      iphone|01-04-2023|1700000|    1500000|   1100000|
|         1|      iphone|01-05-2023|1200000|    1500000|   1100000|
|         1|      iphone|01-06-2023|1100000|    1500000|   1100000|
|         2|     samsung|01-01-2023|1100000|    1100000|   1100000|
|         2|     samsung|01-02-2023|1120000|    1100000|   1100000|
|         2|     samsung|01-03-2023|1080000|    1100000|   1100000|
|         2|     samsung|01-04-2023|1800000|    1100000|   1100000|
|         2|     samsung|01-05-2023| 980000|    1100000|   1100000|
|         2|     samsung|01-06-2023|1100000|    1100000|   1100000|
|         3|     oneplus|01-01-2023|1100000|    1100000|   1200000|
|         3|     oneplus|01-02-2023|1120000|    1100000|   1200000|
|         3|     oneplus|01-03-2023|1160000|    1100000|   1200000|
|         3|     oneplus|01-04-2023|1170000|    1100000|   1200000|
|         3|     oneplus|01-05-2023|1175000|    1100000|   1200000|
|         3|     oneplus|01-06-2023|1200000|    1100000|   1200000|
+----------+------------+----------+-------+-----------+----------+

In [0]:
new_prod = product_df.withColumn("first_sales", first("sales").over(window))\
    .withColumn("last_sales", last("sales").over(window))

new_prod.distinct().show()

+----------+------------+----------+-------+-----------+----------+
|product_id|product_name|sales_date|  sales|first_sales|last_sales|
+----------+------------+----------+-------+-----------+----------+
|         1|      iphone|01-01-2023|1500000|    1500000|   1100000|
|         1|      iphone|01-02-2023|1300000|    1500000|   1100000|
|         1|      iphone|01-03-2023|1600000|    1500000|   1100000|
|         1|      iphone|01-04-2023|1700000|    1500000|   1100000|
|         1|      iphone|01-05-2023|1200000|    1500000|   1100000|
|         1|      iphone|01-06-2023|1100000|    1500000|   1100000|
|         2|     samsung|01-01-2023|1100000|    1100000|   1100000|
|         2|     samsung|01-02-2023|1120000|    1100000|   1100000|
|         2|     samsung|01-03-2023|1080000|    1100000|   1100000|
|         2|     samsung|01-04-2023|1800000|    1100000|   1100000|
|         2|     samsung|01-05-2023| 980000|    1100000|   1100000|
|         2|     samsung|01-06-2023|1100000|    1100000|   1100000|
|         3|     oneplus|01-01-2023|1100000|    1100000|   1200000|
|         3|     oneplus|01-02-2023|1120000|    1100000|   1200000|
|         3|     oneplus|01-03-2023|1160000|    1100000|   1200000|
|         3|     oneplus|01-04-2023|1170000|    1100000|   1200000|
|         3|     oneplus|01-05-2023|1175000|    1100000|   1200000|
|         3|     oneplus|01-06-2023|1200000|    1100000|   1200000|
+----------+------------+----------+-------+-----------+----------+

Flatten Json

In [0]:
res_df = spark.read.format("json")\
    .option("multiline", "true")\
        .option("inferschema", "true")\
            .load("/FileStore/tables/resturant_json_data.json")

res_df.show()

+----+-------+--------------------+-------------+-------------+-------------+------+
|code|message|         restaurants|results_found|results_shown|results_start|status|
+----+-------+--------------------+-------------+-------------+-------------+------+
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17066603}, b9...|         6835|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17093124}, b9...|         8680|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17580142}, b9...|          943|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17284158}, b9...|          257|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17678233}, b9...|          358|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17375047}, b9...|          641|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17616590}, b9...|         1613|           20|            1|  null|
+----+-------+--------------------+-------------+-------------+-------------+------+
only showing top 20 rows

In [0]:
res_df.printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- restaurants: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- restaurant: struct (nullable = true)
 |    |    |    |-- R: struct (nullable = true)
 |    |    |    |    |-- res_id: long (nullable = true)
 |    |    |    |-- apikey: string (nullable = true)
 |    |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |    |-- cuisines: string (nullable = true)
 |    |    |    |-- currency: string (nullable = true)
 |    |    |    |-- deeplink: string (nullable = true)
 |    |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- events_url: string (nullable = true)
 |    |    |    |-- featured_image: string (nullable = true)
 |    |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |    |-- has_table_booking: long (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |-- address: string (nullable = true)
 |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |-- locality: string (nullable = true)
 |    |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |-- zipcode: string (nullable = true)
 |    |    |    |-- menu_url: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- offers: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- photos_url: string (nullable = true)
 |    |    |    |-- price_range: long (nullable = true)
 |    |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |    |-- thumb: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |    |-- votes: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)

In [0]:
res_df.select("*", explode("restaurants").alias("new_res")).drop("restaurants").printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)
 |-- new_res: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)

In [0]:
res_df.select("*", explode("restaurants").alias("new_res")).drop("restaurants")\
    .select("*","new_res.restaurant.R.res_id").show()

+--------+
|  res_id|
+--------+
|17066603|
|17059541|
|17064405|
|17057797|
|17057591|
|17064266|
|17060516|
|17060320|
|17059060|
|17059012|
|17060869|
|17061231|
|17058534|
|17057925|
|17064031|
|17061237|
|17061253|
|17061296|
|17061205|
|17057397|
+--------+
only showing top 20 rows

In [0]:
res_df.select("*", explode("restaurants").alias("new_res")).drop("restaurants")\
    .select("*","new_res.restaurant.R.res_id", explode("new_res.restaurant.establishment_types").alias("new_est")).printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)
 |-- new_res: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)
 |-- res_id: long (nullable = true)
 |-- new_est: string (nullable = true)

In [0]:
res_df.select("*", explode("restaurants").alias("new_res")).drop("restaurants")\
    .select("*","new_res.restaurant.R.res_id", explode_outer("new_res.restaurant.establishment_types").alias("new_est"),
            "new_res.restaurant.name").drop("new_res").show()

+----+-------+-------------+-------------+-------------+------+--------+-------+--------------------+
|code|message|results_found|results_shown|results_start|status|  res_id|new_est|                name|
+----+-------+-------------+-------------+-------------+------+--------+-------+--------------------+
|null|   null|         6835|           20|            1|  null|17066603|   null|            The Coop|
|null|   null|         6835|           20|            1|  null|17059541|   null|Maggiano's Little...|
|null|   null|         6835|           20|            1|  null|17064405|   null|Tako Cheena by Po...|
|null|   null|         6835|           20|            1|  null|17057797|   null|Bosphorous Turkis...|
|null|   null|         6835|           20|            1|  null|17057591|   null|Bahama Breeze Isl...|
|null|   null|         6835|           20|            1|  null|17064266|   null|Hawkers Asian Str...|
|null|   null|         6835|           20|            1|  null|17060516|   null|Seasons 52 Fresh ...|
|null|   null|         6835|           20|            1|  null|17060320|   null|Raglan Road Irish...|
|null|   null|         6835|           20|            1|  null|17059060|   null|           Hillstone|
|null|   null|         6835|           20|            1|  null|17059012|   null|Hollerbach's Will...|
|null|   null|         6835|           20|            1|  null|17060869|   null|     Texas de Brazil|
|null|   null|         6835|           20|            1|  null|17061231|   null|    The Ravenous Pig|
|null|   null|         6835|           20|            1|  null|17058534|   null|    Earl of Sandwich|
|null|   null|         6835|           20|            1|  null|17057925|   null|    Café Tu Tu Tango|
|null|   null|         6835|           20|            1|  null|17064031|   null|Tibby's New Orlea...|
|null|   null|         6835|           20|            1|  null|17061237|   null|Cevíche Tapas Bar...|
|null|   null|         6835|           20|            1|  null|17061253|   null| Ethos Vegan Kitchen|
|null|   null|         6835|           20|            1|  null|17061296|   null|Pom Pom's Teahous...|
|null|   null|         6835|           20|            1|  null|17061205|   null|     Yellow Dog Eats|
|null|   null|         6835|           20|            1|  null|17057397|   null|              'Ohana|
+----+-------+-------------+-------------+-------------+------+--------+-------+--------------------+
only showing top 20 rows