# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("My Application").getOrCreate()

25/05/07 15:41:35 WARN Utils: Your hostname, neosoft-Latitude-E7270 resolves to a loopback address: 127.0.1.1; using 10.0.62.133 instead (on interface wlp1s0)
25/05/07 15:41:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/07 15:41:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/07 15:41:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [9]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
pandas_df = pd.read_csv(url, sep="|")

users = spark.createDataFrame(pandas_df)

users.show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
+-------+---+------+-------------+--------+
only showing top 20 rows

### Step 4. See the first 25 entries

In [11]:
users.show(25)

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
|     21| 26|     M|       writer|   30068|
|     22| 25|     M|       writer|   40206|
|     23| 30|     F|       artist|   48197|
|     24| 21|     F|       artist|   94533|
|     25| 39|     M|     engineer|   55107|
+-------+---+------+-------------+--------+
only showing top 25 rows

### Step 5. See the last 10 entries

In [13]:
users.orderBy(desc("user_id")).limit(10).orderBy("user_id").show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|    934| 61|     M|     engineer|   22902|
|    935| 42|     M|       doctor|   66221|
|    936| 24|     M|        other|   32789|
|    937| 48|     M|     educator|   98072|
|    938| 38|     F|   technician|   55038|
|    939| 26|     F|      student|   33319|
|    940| 32|     M|administrator|   02215|
|    941| 20|     M|      student|   97229|
|    942| 48|     F|    librarian|   78209|
|    943| 22|     M|      student|   77841|
+-------+---+------+-------------+--------+

### Step 6. What is the number of observations in the dataset?

In [14]:
users.count()

943

### Step 7. What is the number of columns in the dataset?

In [16]:
len(users.columns)

5

### Step 8. Print the name of all the columns.

In [ ]:
users.select("*")

DataFrame[user_id: bigint, age: bigint, gender: string, occupation: string, zip_code: string]

In [18]:
users.columns

['user_id', 'age', 'gender', 'occupation', 'zip_code']

### Step 9. How is the dataset indexed?

### Step 10. What is the data type of each column?

In [19]:
users.dtypes

[('user_id', 'bigint'),
 ('age', 'bigint'),
 ('gender', 'string'),
 ('occupation', 'string'),
 ('zip_code', 'string')]

### Step 11. Print only the occupation column

In [21]:
users.select("occupation").distinct().show()

+-------------+
|   occupation|
+-------------+
|    librarian|
|      retired|
|       lawyer|
|         none|
|       writer|
|   programmer|
|    marketing|
|        other|
|    executive|
|    scientist|
|      student|
|     salesman|
|       artist|
|   technician|
|administrator|
|     engineer|
|   healthcare|
|     educator|
|entertainment|
|    homemaker|
+-------------+
only showing top 20 rows

### Step 12. How many different occupations are in this dataset?

In [22]:
users.groupBy("occupation").agg(count("occupation").alias("occu_count")).show()

+-------------+----------+
|   occupation|occu_count|
+-------------+----------+
|    librarian|        51|
|      retired|        14|
|       lawyer|        12|
|         none|         9|
|       writer|        45|
|   programmer|        66|
|    marketing|        26|
|        other|       105|
|    executive|        32|
|    scientist|        31|
|      student|       196|
|     salesman|        12|
|       artist|        28|
|   technician|        27|
|administrator|        79|
|     engineer|        67|
|   healthcare|        16|
|     educator|        95|
|entertainment|        18|
|    homemaker|         7|
+-------------+----------+
only showing top 20 rows

### Step 13. What is the most frequent occupation?

In [24]:
users.groupBy("occupation").agg(count("occupation").alias("occ_count")).orderBy(desc("occ_count")).show(1)

+----------+---------+
|occupation|occ_count|
+----------+---------+
|   student|      196|
+----------+---------+
only showing top 1 row

### Step 14. Summarize the DataFrame.

In [27]:
users.explain()

== Physical Plan ==
*(1) Scan ExistingRDD[user_id#80L,age#81L,gender#82,occupation#83,zip_code#84]

### Step 15. Summarize all the columns

In [28]:
users.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- zip_code: string (nullable = true)

### Step 16. Summarize only the occupation column

In [32]:
users.select("occupation").describe().show()

+-------+-------------+
|summary|   occupation|
+-------+-------------+
|  count|          943|
|   mean|         NULL|
| stddev|         NULL|
|    min|administrator|
|    max|       writer|
+-------+-------------+

### Step 17. What is the mean age of users?

In [30]:
users.select("age").agg(avg("age")).show()

+-----------------+
|         avg(age)|
+-----------------+
|34.05196182396607|
+-----------------+

### Step 18. What is the age with least occurrence?

In [42]:
users.groupBy("age").agg(count("age").alias("age_count")).orderBy(asc("age_count")).show(1)

+---+---------+
|age|age_count|
+---+---------+
|  7|        1|
+---+---------+
only showing top 1 row

In [60]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

age_counts = users.groupBy("age").agg(count("age").alias("age_count"))

windows = Window.orderBy("age_count")

ranked = age_counts.withColumn("rank", rank().over(windows))
least_occurred_ages = ranked.filter(col("rank") == 1)

least_occurred_ages.show()

25/05/07 17:25:32 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/05/07 17:25:32 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/05/07 17:25:32 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/05/07 17:25:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/05/07 17:25:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/05/07 17:25:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/05/07 17:25:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+---+---------+----+
|age|age_count|rank|
+---+---------+----+
|  7|        1|   1|
| 10|        1|   1|
| 11|        1|   1|
| 66|        1|   1|
| 73|        1|   1|
+---+---------+----+