# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("My Application").getOrCreate()

from pyspark.sql.types import *
from pyspark.sql.functions import *

25/05/08 15:41:13 WARN Utils: Your hostname, neosoft-Latitude-E7270 resolves to a loopback address: 127.0.1.1; using 10.0.62.133 instead (on interface wlp1s0)
25/05/08 15:41:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/08 15:41:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = spark.read.format("csv")\
    .option("header", "true")\
        .option("inferSchema", "true")\
            .load("student-mat.csv")

df.show()

25/05/08 15:41:27 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 20 rows

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
columns = df.columns
start_index = columns.index("school")
end_index = columns.index("guardian")+1
selected_columns = columns[start_index:end_index]
df.select(selected_columns).show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
only showing top 20 rows

### Step 5. Create a lambda function that will capitalize strings.

In [4]:
capitalize = udf(lambda x: x.capitalize())
df.select(
    capitalize("school").alias("school"),
    capitalize("address").alias("address"),
    capitalize("guardian").alias("guardian")
).show()

+------+-------+--------+
|school|address|guardian|
+------+-------+--------+
|    Gp|      U|  Mother|
|    Gp|      U|  Father|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Father|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Father|
|    Gp|      U|  Father|
|    Gp|      U|  Mother|
|    Gp|      U|   Other|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Mother|
|    Gp|      U|  Father|
+------+-------+--------+
only showing top 20 rows

### Step 6. Capitalize both Mjob and Fjob

In [5]:
df.select(capitalize("Mjob"),capitalize("Fjob")).show()

+--------------+--------------+
|<lambda>(Mjob)|<lambda>(Fjob)|
+--------------+--------------+
|       At_home|       Teacher|
|       At_home|         Other|
|       At_home|         Other|
|        Health|      Services|
|         Other|         Other|
|      Services|         Other|
|         Other|         Other|
|         Other|       Teacher|
|      Services|         Other|
|         Other|         Other|
|       Teacher|        Health|
|      Services|         Other|
|        Health|      Services|
|       Teacher|         Other|
|         Other|         Other|
|        Health|         Other|
|      Services|      Services|
|         Other|         Other|
|      Services|      Services|
|        Health|         Other|
+--------------+--------------+
only showing top 20 rows

### Step 7. Print the last elements of the data set.

In [6]:
c = df.select(df.columns[-1])
c.collect()[-1][0]

9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [7]:
cap_df = df.select("*",capitalize("Mjob").alias("new_Mjob"), capitalize("Fjob").alias("new_Fjob")).drop("Mjob", "Fjob")

cap_df.show()

+------+---+---+-------+-------+-------+----+----+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|new_Mjob|new_Fjob|
+------+---+---+-------+-------+-------+----+----+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6| At_home| Teacher|
|    GP|  F| 17|      U|    GT3|      T|   1|   1|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6| At_home|   Other|
|    GP|  F| 15|      U|    LE3|      T|   1|   1|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10| At_home|   Other|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|  Health|Services|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|   Other|   Other|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|Services|   Other|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|   Other|   Other|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|   Other| Teacher|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|Services|   Other|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|   Other|   Other|
|    GP|  F| 15|      U|    GT3|      T|   4|   4|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9| Teacher|  Health|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|Services|   Other|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|  Health|Services|
|    GP|  M| 15|      U|    GT3|      T|   4|   3|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11| Teacher|   Other|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|   Other|   Other|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|  Health|   Other|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|Services|Services|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|   Other|   Other|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|Services|Services|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|  Health|   Other|
+------+---+---+-------+-------+-------+----+----+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+
only showing top 20 rows

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [9]:
majority = udf(lambda x:True if x >= 18 else False)

df = df.withColumn("legal_drinker", majority(df["age"]))
df.show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|legal_drinker|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|         true|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|        false|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|        false|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|        false|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|        false|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|        false|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|        false|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|        false|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|        false|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|        false|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9|        false|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|        false|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|        false|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11|        false|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|        false|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|        false|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|        false|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|        false|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|        false|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|        false|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
only showing top 20 rows

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [14]:
df.select([ 
    (col(c) * 10).alias(c) for c in df.columns 
]).show()

+------+----+---+-------+-------+-------+----+----+----+----+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
|school| sex|age|address|famsize|Pstatus|Medu|Fedu|Mjob|Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|legal_drinker|
+------+----+---+-------+-------+-------+----+----+----+----+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
|  NULL|NULL|180|   NULL|   NULL|   NULL|  40|  40|NULL|NULL|  NULL|    NULL|        20|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      30|   40|  10|  10|    30|      60| 50| 60| 60|         NULL|
|  NULL|NULL|170|   NULL|   NULL|   NULL|  10|  10|NULL|NULL|  NULL|    NULL|        10|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    50|      30|   30|  10|  10|    30|      40| 50| 50| 60|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  10|  10|NULL|NULL|  NULL|    NULL|        10|       20|      30|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      30|   20|  20|  30|    30|     100| 70| 80|100|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  40|  20|NULL|NULL|  NULL|    NULL|        10|       30|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    30|      20|   20|  10|  10|    50|      20|150|140|150|         NULL|
|  NULL|NULL|160|   NULL|   NULL|   NULL|  30|  30|NULL|NULL|  NULL|    NULL|        10|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      30|   20|  10|  20|    50|      40| 60|100|100|         NULL|
|  NULL|NULL|160|   NULL|   NULL|   NULL|  40|  30|NULL|NULL|  NULL|    NULL|        10|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    50|      40|   20|  10|  20|    50|     100|150|150|150|         NULL|
|  NULL|NULL|160|   NULL|   NULL|   NULL|  20|  20|NULL|NULL|  NULL|    NULL|        10|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      40|   40|  10|  10|    30|       0|120|120|110|         NULL|
|  NULL|NULL|170|   NULL|   NULL|   NULL|  40|  40|NULL|NULL|  NULL|    NULL|        20|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      10|   40|  10|  10|    10|      60| 60| 50| 60|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  30|  20|NULL|NULL|  NULL|    NULL|        10|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      20|   20|  10|  10|    10|       0|160|180|190|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  30|  40|NULL|NULL|  NULL|    NULL|        10|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    50|      50|   10|  10|  10|    50|       0|140|150|150|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  40|  40|NULL|NULL|  NULL|    NULL|        10|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    30|      30|   30|  10|  20|    20|       0|100| 80| 90|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  20|  10|NULL|NULL|  NULL|    NULL|        30|       30|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    50|      20|   20|  10|  10|    40|      40|100|120|120|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  40|  40|NULL|NULL|  NULL|    NULL|        10|       10|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      30|   30|  10|  30|    50|      20|140|140|140|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  40|  30|NULL|NULL|  NULL|    NULL|        20|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    50|      40|   30|  10|  20|    30|      20|100|100|110|         NULL|
|  NULL|NULL|150|   NULL|   NULL|   NULL|  20|  20|NULL|NULL|  NULL|    NULL|        10|       30|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      50|   20|  10|  10|    30|       0|140|160|160|         NULL|
|  NULL|NULL|160|   NULL|   NULL|   NULL|  40|  40|NULL|NULL|  NULL|    NULL|        10|       10|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    40|      40|   40|  10|  20|    20|      40|140|140|140|         NULL|
|  NULL|NULL|160|   NULL|   NULL|   NULL|  40|  40|NULL|NULL|  NULL|    NULL|        10|       30|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    30|      20|   30|  10|  20|    20|      60|130|140|140|         NULL|
|  NULL|NULL|160|   NULL|   NULL|   NULL|  30|  30|NULL|NULL|  NULL|    NULL|        30|       20|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    50|      30|   20|  10|  10|    40|      40| 80|100|100|         NULL|
|  NULL|NULL|170|   NULL|   NULL|   NULL|  30|  20|NULL|NULL|  NULL|    NULL|        10|       10|      30|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    50|      50|   50|  20|  40|    50|     160| 60| 50| 50|         NULL|
|  NULL|NULL|160|   NULL|   NULL|   NULL|  40|  30|NULL|NULL|  NULL|    NULL|        10|       10|       0|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|    30|      10|   30|  10|  30|    50|      40| 80|100|100|         NULL|
+------+----+---+-------+-------+-------+----+----+----+----+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
only showing top 20 rows